interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eu.api.ovh.com/1.0/auth/time
  response:
    body:
      string: '1782251803'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Ovh-Timestamp:
      - '1782251803'
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/example.com/status
  response:
    body:
      string: '{"errors":[],"isDeployed":true,"warnings":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Ovh-Timestamp:
      - '1782251803'
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/example.com/record?fieldType=TXT&subDomain=random.test
  response:
    body:
      string: '[]'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"fieldType": "TXT", "subDomain": "random.test", "target": "challengetoken", "ttl": 3600}'
    headers:
      Content-type:
      - application/json
      X-Ovh-Timestamp:
      - '1782251803'
    method: POST
    uri: https://eu.api.ovh.com/1.0/domain/zone/example.com/record
  response:
    body:
      string: '{"fieldType":"TXT","id":5420906920,"subDomain":"random.test","target":"\"challengetoken\"","ttl":3600,"zone":"example.com"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Ovh-Timestamp:
      - '1782251803'
    method: POST
    uri: https://eu.api.ovh.com/1.0/domain/zone/example.com/refresh
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-Ovh-Timestamp:
      - '1782251804'
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/example.com/record/5420906920
  response:
    body:
      string: '{"fieldType":"TXT","id":5420906920,"subDomain":"random.test","target":"\"challengetoken\"","ttl":3600,"zone":"example.com"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
