interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eu.api.ovh.com/1.0/auth/time
  response:
    body:
      string: '1782251799'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Ovh-Timestamp:
      - '1782251799'
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/example.com/status
  response:
    body:
      string: '{"errors":[],"isDeployed":true,"warnings":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Ovh-Timestamp:
      - '1782251800'
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/example.com/record?fieldType=A&subDomain=localhost
  response:
    body:
      string: '[]'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"fieldType": "A", "subDomain": "localhost", "target": "127.0.0.1", "ttl": 3600}'
    headers:
      Content-type:
      - application/json
      X-Ovh-Timestamp:
      - '1782251800'
    method: POST
    uri: https://eu.api.ovh.com/1.0/domain/zone/example.com/record
  response:
    body:
      string: '{"fieldType":"A","id":5420906913,"subDomain":"localhost","target":"127.0.0.1","ttl":3600,"zone":"example.com"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Ovh-Timestamp:
      - '1782251800'
    method: POST
    uri: https://eu.api.ovh.com/1.0/domain/zone/example.com/refresh
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
