interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - Bearer huWytmPWrDK4s2AaJwE33EOfs8GanXR0EDCHItU-
      Content-Type:
      - application/json
    method: GET
    uri: https://api.cloudflare.com/client/v4/zones?page=1&per_page=100
  response:
    body:
      string: '{"result":[{"id":"457dd20dded351b97830cb528f507819","name":"byemike.org","status":"active","paused":false,"type":"full","development_mode":0,"name_servers":["blakely.ns.cloudflare.com","vin.ns.cloudflare.com"],"original_name_servers":null,"original_registrar":null,"original_dnshost":null,"modified_on":"2025-06-27T16:15:05.621864Z","created_on":"2025-06-27T16:15:01.206882Z","activated_on":"2025-06-27T16:15:05.465417Z","vanity_name_servers":[],"vanity_name_servers_ips":null,"meta":{"step":4,"custom_certificate_quota":0,"page_rule_quota":3,"phishing_detected":false},"owner":{"id":null,"type":"user","email":null},"account":{"id":"8d76151cc3a22bf025f36489c7a0be23","name":"M4gc52kndg@privaterelay.appleid.com''s
        Account"},"tenant":{"id":null,"name":null},"tenant_unit":{"id":null},"permissions":["#dns_records:edit","#dns_records:read","#zone:read"],"plan":{"id":"0feeeeeeeeeeeeeeeeeeeeeeeeeeeeee","name":"Free
        Website","price":0,"currency":"USD","frequency":"","is_subscribed":false,"can_subscribe":false,"legacy_id":"free","legacy_discount":false,"externally_managed":false}},{"id":"64789f348d16a1ac1c1fd5cd8028476c","name":"mikeleave.com","status":"active","paused":false,"type":"full","development_mode":0,"name_servers":["blakely.ns.cloudflare.com","vin.ns.cloudflare.com"],"original_name_servers":null,"original_registrar":null,"original_dnshost":null,"modified_on":"2025-06-27T16:08:29.911954Z","created_on":"2025-06-27T16:08:25.436586Z","activated_on":"2025-06-27T16:08:29.784391Z","vanity_name_servers":[],"vanity_name_servers_ips":null,"meta":{"step":4,"custom[...]
- request:
    body: '{}'
    headers:
      Authorization:
      - Bearer huWytmPWrDK4s2AaJwE33EOfs8GanXR0EDCHItU-
      Content-Type:
      - application/json
    method: GET
    uri: https://api.cloudflare.com/client/v4/zones/457dd20dded351b97830cb528f507819/dns_records?per_page=100
  response:
    body:
      string: '{"result":[{"id":"56dd4e5c3024bcc3ac04b64c97cda3e3","name":"localhost.byemike.org","type":"A","content":"127.0.0.1","proxiable":false,"proxied":false,"ttl":3600,"settings":{},"meta":{},"comment":null,"tags":[],"created_on":"2025-08-27T20:36:17.634961Z","modified_on":"2025-08-27T20:36:17.634961Z"},{"id":"904da6487f281228aa9c21f690416436","name":"docs.byemike.org","type":"CNAME","content":"docs.example.com","proxiable":true,"proxied":false,"ttl":3600,"settings":{"flatten_cname":false},"meta":{},"comment":null,"tags":[],"created_on":"2025-08-27T20:36:18.239692Z","modified_on":"2025-08-27T20:36:18.239692Z"},{"id":"613a42fe4d62a523e3d72ca1d9c079f8","name":"_acme-challenge.createrecordset.byemike.org","type":"TXT","content":"challengetoken2","proxiable":false,"proxied":false,"ttl":3600,"settings":{},"meta":{},"comment":null,"tags":[],"created_on":"2025-08-27T20:36:20.328962Z","modified_on":"2025-08-27T20:36:20.328962Z"},{"id":"3a0721ecad360c54f8892705bc838ed2","name":"_acm[...]
