interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Login
      xmlns:ns0="http://subreg.cz/types"><login>placeholder_auth_username</login><password>placeholder_auth_password</password></ns0:Login></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://subreg.cz/wsdl#Login"'
    method: POST
    uri: https://subreg.cz/soap/cmd.php?soap_format=1
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://subreg.cz/types"><SOAP-ENV:Body><ns1:Login_Container><response><status>ok</status><data><ssid>placeholder_ssid</ssid></data></response></ns1:Login_Container></SOAP-ENV:Body></SOAP-ENV:Envelope>

        '
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Domains_List
      xmlns:ns0="http://subreg.cz/types"><ssid>placeholder_ssid</ssid></ns0:Domains_List></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://subreg.cz/wsdl#Domains_List"'
    method: POST
    uri: https://subreg.cz/soap/cmd.php?soap_format=1
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://subreg.cz/types"><SOAP-ENV:Body><ns1:Domains_List_Container><response><status>ok</status><data><count>1</count><domains><name>oldium.xyz</name><expire>2199-12-31</expire><autorenew>0</autorenew></domains></data></response></ns1:Domains_List_Container></SOAP-ENV:Body></SOAP-ENV:Envelope>

        '
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Get_DNS_Zone
      xmlns:ns0="http://subreg.cz/types"><ssid>placeholder_ssid</ssid><domain>oldium.xyz</domain></ns0:Get_DNS_Zone></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://subreg.cz/wsdl#Get_DNS_Zone"'
    method: POST
    uri: https://subreg.cz/soap/cmd.php?soap_format=1
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://subreg.cz/types"><SOAP-ENV:Body><ns1:Get_DNS_Zone_Container><response><status>ok</status><data><domain>oldium.xyz</domain><records><id>7144321</id><name>localhost</name><type>A</type><content>127.0.0.1</content><prio>0</prio><ttl>3600</ttl></records></data></response></ns1:Get_DNS_Zone_Container></SOAP-ENV:Body></SOAP-ENV:Envelope>

        '
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Add_DNS_Record
      xmlns:ns0="http://subreg.cz/types"><ssid>placeholder_ssid</ssid><domain>oldium.xyz</domain><record><name>docs</name><type>CNAME</type><content>docs.example.com</content><ttl>3600</ttl></record></ns0:Add_DNS_Record></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://subreg.cz/wsdl#Add_DNS_Record"'
    method: POST
    uri: https://subreg.cz/soap/cmd.php?soap_format=1
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://subreg.cz/types"><SOAP-ENV:Body><ns1:Add_DNS_Record_Container><response><status>ok</status><data/></response></ns1:Add_DNS_Record_Container></SOAP-ENV:Body></SOAP-ENV:Envelope>

        '
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
