interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.dynu.com/v2/dns/getroot/example.com
  response:
    body:
      string: '{"statusCode":200,"id":100373707,"domainName":"example.com","hostname":"example.com","node":""}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.dynu.com/v2/dns
  response:
    body:
      string: '{"statusCode":200,"domains":[{"id":100373707,"name":"example.com","unicodeName":"example.com","token":"CSOMGFFULQJEBBNYVNQF","state":"Complete","group":"","ipv4Address":"120.196.114.45","ipv6Address":null,"ttl":60,"ipv4":true,"ipv6":true,"ipv4WildcardAlias":false,"ipv6WildcardAlias":false,"allowZoneTransfer":false,"dnssec":false,"createdOn":"2025-05-06T18:31:27","updatedOn":"2025-05-06T18:36:55"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"recordType": "TXT", "state": true, "nodeName": "orig.testfull", "textData":
      "challengetoken", "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.dynu.com/v2/dns/100373707/record
  response:
    body:
      string: '{"statusCode":200,"id":13690839,"domainId":100373707,"domainName":"example.com","nodeName":"orig.testfull","hostname":"orig.testfull.example.com","recordType":"TXT","ttl":3600,"state":true,"content":"orig.testfull.example.com.
        3600 IN TXT \"challengetoken\"","updatedOn":"2025-05-06T18:36:55.867","textData":"challengetoken"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.dynu.com/v2/dns/100373707/record
  response:
    body:
      string: '{"statusCode":200,"dnsRecords":[{"id":13690777,"domainId":100373707,"domainName":"example.com","nodeName":"","hostname":"example.com","recordType":"SOA","ttl":60,"state":true,"content":"example.com.
        60 IN SOA ns1.dynu.com. administrator.dynu.com. 13 3600 900 604800 300","updatedOn":"2025-05-06T18:31:29","masterName":"ns1.dynu.com","responsibleName":"administrator.dynu.com","refresh":3600,"retry":900,"expire":604800,"negativeTTL":300},{"id":13690778,"domainId":100373707,"domainName":"example.com","nodeName":"","hostname":"example.com","recordType":"NS","ttl":3600,"state":true,"content":"example.com.
        3600 IN NS ns1.dynu.com.","updatedOn":"2025-05-06T18:31:29.963","host":"ns1.dynu.com"},{"id":13690779,"domainId":100373707,"domainName":"example.com","nodeName":"","hostname":"example.com","recordType":"NS","ttl":3600,"state":true,"content":"example.com.
        3600 IN NS ns2.dynu.com.","updatedOn":"2025-05-06T18:31:29.97","host":"ns2.dynu.com"},{"id":13690780,"domainId":100373707,"domainName":"example.com","nodeName":"","hostname":"example.com","recordType":"NS","ttl":3600,"state":true,"content":"example.com.
        3600 IN NS ns3.dynu.com.","updatedOn":"2025-05[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.dynu.com/v2/dns/100373707/record/13690839
  response:
    body:
      string: '{"statusCode":200,"id":13690839,"domainId":100373707,"domainName":"example.com","nodeName":"orig.testfull","hostname":"orig.testfull.example.com","recordType":"TXT","ttl":3600,"state":true,"content":"orig.testfull.example.com.
        3600 IN TXT \"challengetoken\"","updatedOn":"2025-05-06T18:36:55.867","textData":"challengetoken"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"recordType": "TXT", "state": true, "nodeName": "updated.testfull", "textData":
      "challengetoken", "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.dynu.com/v2/dns/100373707/record
  response:
    body:
      string: '{"statusCode":200,"id":13690840,"domainId":100373707,"domainName":"example.com","nodeName":"updated.testfull","hostname":"updated.testfull.example.com","recordType":"TXT","ttl":3600,"state":true,"content":"updated.testfull.example.com.
        3600 IN TXT \"challengetoken\"","updatedOn":"2025-05-06T18:36:57.017","textData":"challengetoken"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
