interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.dynu.com/v2/dns/getroot/example.com
  response:
    body:
      string: '{"statusCode":200,"id":100373707,"domainName":"example.com","hostname":"example.com","node":""}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.dynu.com/v2/dns
  response:
    body:
      string: '{"statusCode":200,"domains":[{"id":100373707,"name":"example.com","unicodeName":"example.com","token":"CSOMGFFULQJEBBNYVNQF","state":"Complete","group":"","ipv4Address":"120.196.114.45","ipv6Address":null,"ttl":60,"ipv4":true,"ipv6":true,"ipv4WildcardAlias":false,"ipv6WildcardAlias":false,"allowZoneTransfer":false,"dnssec":false,"createdOn":"2025-05-06T18:31:27","updatedOn":"2025-05-06T18:32:32.19"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"recordType": "A", "state": true, "nodeName": "localhost", "ipv4Address":
      "127.0.0.1", "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.dynu.com/v2/dns/100373707/record
  response:
    body:
      string: '{"statusCode":200,"id":13690812,"domainId":100373707,"domainName":"example.com","nodeName":"localhost","hostname":"localhost.example.com","recordType":"A","ttl":3600,"state":true,"content":"localhost.example.com.
        3600 IN A 127.0.0.1","updatedOn":"2025-05-06T18:36:06.03","location":"","group":"","ipv4Address":"127.0.0.1"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
