interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.dynu.com/v2/dns/getroot/example.com
  response:
    body:
      string: '{"statusCode":200,"id":100373707,"domainName":"example.com","hostname":"example.com","node":""}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.dynu.com/v2/dns
  response:
    body:
      string: '{"statusCode":200,"domains":[{"id":100373707,"name":"example.com","unicodeName":"example.com","token":"CSOMGFFULQJEBBNYVNQF","state":"Complete","group":"","ipv4Address":"120.196.114.45","ipv6Address":null,"ttl":60,"ipv4":true,"ipv6":true,"ipv4WildcardAlias":false,"ipv6WildcardAlias":false,"allowZoneTransfer":false,"dnssec":false,"createdOn":"2025-05-06T18:31:27","updatedOn":"2025-05-06T18:36:36"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"recordType": "TXT", "state": true, "nodeName": "_acme-challenge.createrecordset",
      "textData": "challengetoken1", "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.dynu.com/v2/dns/100373707/record
  response:
    body:
      string: '{"statusCode":200,"id":13690817,"domainId":100373707,"domainName":"example.com","nodeName":"_acme-challenge.createrecordset","hostname":"_acme-challenge.createrecordset.example.com","recordType":"TXT","ttl":3600,"state":true,"content":"_acme-challenge.createrecordset.example.com.
        3600 IN TXT \"challengetoken1\"","updatedOn":"2025-05-06T18:36:37.237","textData":"challengetoken1"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"recordType": "TXT", "state": true, "nodeName": "_acme-challenge.createrecordset",
      "textData": "challengetoken2", "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.dynu.com/v2/dns/100373707/record
  response:
    body:
      string: '{"statusCode":200,"id":13690818,"domainId":100373707,"domainName":"example.com","nodeName":"_acme-challenge.createrecordset","hostname":"_acme-challenge.createrecordset.example.com","recordType":"TXT","ttl":3600,"state":true,"content":"_acme-challenge.createrecordset.example.com.
        3600 IN TXT \"challengetoken2\"","updatedOn":"2025-05-06T18:36:37.58","textData":"challengetoken2"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
