interactions:
- request:
    body: 'null'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records
  response:
    body:
      string: '{"total_count":19,"records":[{"id":"8c1f9e92-8b3e-45bb-b02f-3d7b79d26fb7","data":"ns0.dom.scw.cloud.","name":"","priority":0,"ttl":1800,"type":"NS","comment":null},{"id":"99f36c78-379a-49aa-bd9e-c31729cb7835","data":"ns1.dom.scw.cloud.","name":"","priority":0,"ttl":1800,"type":"NS","comment":null},{"id":"fd69310f-9eca-4b15-8249-5df208bac537","data":"\"challengetoken2\"","name":"_acme-challenge.createrecordset","priority":0,"ttl":3600,"type":"TXT","comment":null},{"id":"3f5f1a92-c9e1-4e1d-a880-8e97624302a2","data":"\"challengetoken1\"","name":"_acme-challenge.createrecordset","priority":0,"ttl":3600,"type":"TXT","comment":null},{"id":"dbd0420f-f1cb-4d[...]
[...]
- request:
    body: '{"changes": [{"add": {"records": [{"name": "orig.testfqdn.example.com.",
      "data": "challengetoken", "type": "TXT", "ttl": 3600}]}}]}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records
  response:
    body:
      string: '{"records":[{"id":"43bf4176-dbde-4b99-87c0-b20f9218d335","data":"\"challengetoken\"","name":"orig.testfqdn","priority":0,"ttl":3600,"type":"TXT","comment":null}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"changes": [{"set": {"id": "43bf4176-dbde-4b99-87c0-b20f9218d335", "records":
      [{"name": "updated.testfqdn.example.com.", "data": "challengetoken", "type":
      "TXT", "ttl": 3600}]}}]}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records
  response:
    body:
      string: '{"records":[{"id":"43bf4176-dbde-4b99-87c0-b20f9218d335","data":"\"challengetoken\"","name":"updated.testfqdn","priority":0,"ttl":3600,"type":"TXT","comment":null}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
