interactions:
- request:
    body: 'null'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records
  response:
    body:
      string: '{"total_count":16, "records":[{"id":"f5836d62-5e3a-40fb-a618-b3d868633c54",
        "data":"ns0.dom.scw.cloud.", "name":"", "priority":0, "ttl":1800, "type":"NS",
        "comment":null}, {"id":"639c2716-f72f-471a-acdc-02b5d4001a01", "data":"ns1.dom.scw.cloud.",
        "name":"", "priority":0, "ttl":1800, "type":"NS", "comment":null}, {"id":"300b8351-30ac-4807-9b6a-0284492c5c56",
        "data":"\"challengetoken\"", "name":"_acme-challenge.fqdn", "priority":0,
        "ttl":3600, "type":"TXT", "comment":null}, {"id":"0917f4b3-be77-46ed-90d6-1708067bd65d",
        "data":"\"challengetoken\"", "name":"_acme-challenge.full.example.com",
        "priority":0, "ttl":3600, "typ[...]
- request:
    body: 'null'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records?page=1
  response:
    body:
      string: '{"total_count":16, "records":[{"id":"f5836d62-5e3a-40fb-a618-b3d868633c54",
        "data":"ns0.dom.scw.cloud.", "name":"", "priority":0, "ttl":1800, "type":"NS",
        "comment":null}, {"id":"639c2716-f72f-471a-acdc-02b5d4001a01", "data":"ns1.dom.scw.cloud.",
        "nam[...]
- request:
    body: '{"changes": [{"add": {"records": [{"name": "_acme-challenge.createrecordset.example.com.",
      "data": "challengetoken1", "type": "TXT", "ttl": 3600}]}}]}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records
  response:
    body:
      string: '{"records":[{"id":"7aa3bb23-96e1-478c-b8c5-c448111c60e4", "data":"\"challengetoken1\"",
        "name":"_acme-challenge.createrecordset", "priority":0, "ttl":3600, "type":"TXT",
        "comment":null}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"changes": [{"add": {"records": [{"name": "_acme-challenge.createrecordset.example.com.",
      "data": "challengetoken2", "type": "TXT", "ttl": 3600}]}}]}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records
  response:
    body:
      string: '{"records":[{"id":"6b51eeb6-b716-43d0-b5ed-88c3af16dcd8", "data":"\"challengetoken2\"",
        "name":"_acme-challenge.createrecordset", "priority":0, "ttl":3600, "type":"TXT",
        "comment":null}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
