interactions:
- request:
    body: 'null'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records
  response:
    body:
      string: '{"total_count":2, "records":[{"id":"f5836d62-5e3a-40fb-a618-b3d868633c54",
        "data":"ns0.dom.scw.cloud.", "name":"", "priority":0, "ttl":1800, "type":"NS",
        "comment":null}, {"id":"639c2716-f72f-471a-acdc-02b5d4001a01", "data":"ns1.dom.scw.cloud.",
        "name":"", "priority":0, "ttl":1800, "type":"NS", "comment":null}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
