interactions:
- request:
    body: 'null'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records
  response:
    body:
      string: '{"total_count":4, "records":[{"id":"f5836d62-5e3a-40fb-a618-b3d868633c54",
        "data":"ns0.dom.scw.cloud.", "name":"", "priority":0, "ttl":1800, "type":"NS",
        "comment":null}, {"id":"639c2716-f72f-471a-acdc-02b5d4001a01", "data":"ns1.dom.scw.cloud.",
        "name":"", "priority":0, "ttl":1800, "type":"NS", "comment":null}, {"id":"73124e73-b66b-4753-9a07-cd0717862f73",
        "data":"docs.example.com.example.com.", "name":"docs", "priority":0,
        "ttl":3600, "type":"CNAME", "comment":null}, {"id":"65f60dd7-4468-4bc6-836f-020b5efb88f4",
        "data":"127.0.0.1", "name":"localhost", "priority":0, "ttl":3600, "type":"A",
        "comment":null}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: 'null'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records?page=1
  response:
    body:
      string: '{"total_count":4, "records":[{"id":"f5836d62-5e3a-40fb-a618-b3d868633c54",
        "data":"ns0.dom.scw.cloud.", "name":"", "priority":0, "ttl":1800, "type":"NS",
        "comment":null}, {"id":"639c2716-f72f-471a-acdc-02b5d4001a01", "data":"ns1.dom.scw.cloud.",
        "name":"", "priority":0, "ttl":1800, "type":"NS", "comment":null}, {"id":"73124e73-b66b-4753-9a07-cd0717862f73",
        "data":"docs.example.com.example.com.", "name":"docs", "priority":0,
        "ttl":3600, "type":"CNAME", "comment":null}, {"id":"65f60dd7-4468-4bc6-836f-020b5efb88f4",
        "data":"127.0.0.1", "name":"localhost", "priority":0, "ttl":3600, "type":"A",
        "comment":null}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"changes": [{"add": {"records": [{"name": "_acme-challenge.test", "data":
      "challengetoken", "type": "TXT", "ttl": 3600}]}}]}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records
  response:
    body:
      string: '{"records":[{"id":"dd6537d9-be1f-4766-911a-c91dd99bfbc2", "data":"\"challengetoken\"",
        "name":"_acme-challenge.test", "priority":0, "ttl":3600, "type":"TXT", "comment":null}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
