interactions:
- request:
    body: 'null'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records
  response:
    body:
      string: '{"total_count":20, "records":[{"id":"f5836d62-5e3a-40fb-a618-b3d868633c54",
        "data":"ns0.dom.scw.cloud.", "name":"", "priority":0, "ttl":1800, "type":"NS",
        "comment":null}, {"id":"639c2716-f72f-471a-acdc-02b5d4001a01", "data":"ns1.dom.scw.cloud.",
        "name":"", "priority":0, "ttl":1800, "type":"NS", "comment":null}, {"id":"6b51eeb6-b716-43d0-b5ed-88c3af16dcd8",
        "data":"\"challengetoken2\"", "name":"_acme-challenge.createrecordset", "priority":0,
        "ttl":3600, "type":"TXT", "comment":null}, {"id":"7aa3bb23-96e1-478c-b8c5-c448111c60e4",
        "data":"\"challengetoken1\"", "name":"_acme-challenge.createrecordset", "priority":0,
        "ttl[...]
- request:
    body: 'null'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records?page=1
  response:
    body:
      string: '{"total_count":20, "records":[{"id":"f5836d62-5e3a-40fb-a618-b3d868633c54",
        "data":"ns0.dom.scw.cloud.", "name":"", "priority":0, "ttl":1800, "type":"NS",
        "comment":null}, {"id":"639c2716-f72f-471a-acdc-02b5d4001a01", "data":"ns1.dom.scw.cloud.",
        "nam[...]
- request:
    body: '{"changes": [{"add": {"records": [{"name": "_acme-challenge.deleterecordinset.example.com.",
      "data": "challengetoken1", "type": "TXT", "ttl": 3600}]}}]}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records
  response:
    body:
      string: '{"records":[{"id":"f659422d-2c87-40e5-83a0-b13f3fd9b2ec", "data":"\"challengetoken1\"",
        "name":"_acme-challenge.deleterecordinset", "priority":0, "ttl":3600, "type":"TXT",
        "comment":null}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"changes": [{"delete": {"id": "f659422d-2c87-40e5-83a0-b13f3fd9b2ec"}}]}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records
  response:
    body:
      string: '{"records":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'null'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.scaleway.com/domain/v2beta1/dns-zones/example.com/records?page=2
  response:
    body:
      string: '{"total_count":21, "records":[{"id":"42e42e49-e529-4222-accf-4347f53fd268",
        "data":"\"challengetoken\"", "name":"updated.testfull.example.com",
        "priority":0, "ttl":3600, "type":"TXT", "comment":null}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
