interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.devnomads.nl/services/dns/zones/example.nl.
  response:
    body:
      string: '{"account": "", "api_rectify": false, "dnssec": false, "id": "example.nl.",
        "kind": "Master", "last_check": 0, "masters": [], "name": "example.nl.",
        "notified_serial": 0, "nsec3narrow": false, "nsec3param": "", "rrsets": [],
        "serial": 0, "soa_edit": "", "soa_edit_api": "", "url": "/services/dns/zones/example.nl."}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
