interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.devnomads.nl/services/dns/zones/example.nl.
  response:
    body:
      string: '{"account": "", "api_rectify": false, "dnssec": false, "id": "example.nl.",
        "kind": "Master", "last_check": 0, "masters": [], "name": "example.nl.",
        "notified_serial": 0, "nsec3narrow": false, "nsec3param": "", "rrsets": [{"comments":
        [], "name": "localhost.example.nl.", "records": [{"content": "127.0.0.1",
        "disabled": false}], "ttl": 3600, "type": "A"}, {"comments": [], "name": "_acme-challenge.test.example.nl.",
        "records": [{"content": "\"challengetoken\"", "disabled": false}], "ttl":
        3600, "type": "TXT"}, {"comments": [], "name": "_acme-challenge.createrecordset.example.nl.",
        "records": [{"content": "\"challengetoken1\"", "disabled": false}, {"content":
        "\"challengetoken2\"", "disabled": false}], "ttl": 3600, "type": "TXT"}, {"comments":
        [], "name": "docs.example.nl.", "records": [{"content": "docs.example.com.example.nl.",
        "disabled": false}], "ttl": 3600, "type": "CNAME"}, {"comments": [], "name":
        "_acme-challenge.noop.example.nl.", "records": [{"content": "\"challengetoken\"",
        "disabled": false}], "ttl": 3600, "type": "TXT"}, {"comments": [], "name":
        "_acme-challenge.fqdn.example.nl.", "records": [{"content": "\"challengetoken\"",
        "disabled": false}], "ttl": 3600, "type": "TXT"}, {"comments": [], "name":
        "_acme-challenge.full.example.nl.", "records": [{"content": "\"challengetoken\"",
        "disabled": false}], "ttl": 3600, "type": "TXT"}], "serial": 0, "soa_edit":
        "", "soa_edit_api": "", "url": "/services/dns/zones/example.nl."}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"rrsets": [{"name": "delete.testfilt.example.nl.", "type": "TXT",
      "records": [{"content": "\"challengetoken\"", "disabled": false}], "ttl": 3600,
      "changetype": "REPLACE"}]}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.devnomads.nl/services/dns/zones/example.nl.
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
