interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.devnomads.nl/services/dns/zones/example.nl.
  response:
    body:
      string: '{"account": "", "api_rectify": false, "dnssec": false, "id": "example.nl.",
        "kind": "Master", "last_check": 0, "masters": [], "name": "example.nl.",
        "notified_serial": 0, "nsec3narrow": false, "nsec3param": "", "rrsets": [{"comments":
        [], "name": "localhost.example.nl.", "records": [{"content": "127.0.0.1",
        "disabled": false}], "ttl": 3600, "type": "A"}, {"comments": [], "name": "random.fqdntest.example.nl.",
        "records": [{"content": "\"challengetoken\"", "disabled": false}], "ttl":
        3600, "type": "TXT"}, {"comments": [], "name": "random.fulltest.example.nl.",
        "records": [{"content": "\"challengetoken\"", "disabled": false}], "ttl":
        3600, "type": "TXT"}, {"comments": [], "name": "random.test.example.nl.",
        "records": [{"content": "\"challengetoken\"", "disabled": false}], "ttl":
        3600, "type": "[...]
