interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subreg.cz/domains
  response:
    body:
      string: '{"domains":[{"name":"oldium.top","expire":"2199-12-31","autorenew":"0"}],"count":1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subreg.cz/dns/oldium.top
  response:
    body:
      string: '{"domain":"oldium.top","records":[{"id":"7143878","name":"docs","type":"CNAME","content":"docs.example.com","prio":0,"ttl":3600},{"id":"7143877","name":"localhost","type":"A","content":"127.0.0.1","prio":0,"ttl":3600},{"id":"7143881","name":"_acme-challenge.fqdn","type":"TXT","content":"challengetoken","prio":0,"ttl":3600},{"id":"7143880","name":"_acme-challenge.full","type":"TXT","content":"challengetoken","prio":0,"ttl":3600},{"id":"7143879","name":"_acme-challenge.test","type":"TXT","content":"challengetoken","prio":0,"ttl":3600}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
