interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subreg.cz/domains
  response:
    body:
      string: '{"domains":[{"name":"oldium.top","expire":"2199-12-31","autorenew":"0"}],"count":1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subreg.cz/dns/oldium.top
  response:
    body:
      string: '{"domain":"oldium.top","records":[{"id":"7143910","name":"","type":"TXT","content":"apexrenametoken","prio":0,"ttl":3600},{"id":"7143908","name":"","type":"TXT","content":"apexfqdntoken","prio":0,"ttl":3600},{"id":"7143906","name":"","type":"TXT","content":"apexchallengetoken","prio":0,"ttl":3600},{"id":"7143907","name":"","type":"TXT","content":"apexlisttoken","prio":0,"ttl":3600},{"id":"7143878","name":"docs","type":"CNAME","content":"docs.example.com","prio":0,"ttl":3600},{"id":"7143877","name":"localhost","type":"A","content":"127.0.0.1","prio":0,"ttl":3600},{"id":"7143888","name":"orig.nameonly.test","ty[...]
- request:
    body: '{"type": "TXT", "name": "", "content": "apexorigtoken", "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.subreg.cz/dns/oldium.top/record
  response:
    body:
      string: '{"domain":"oldium.top","record_id":7143911}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "TXT", "content": "apexupdatedtoken", "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.subreg.cz/dns/oldium.top/record/7143911
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
