interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subreg.cz/domains
  response:
    body:
      string: '{"domains":[{"name":"oldium.top","expire":"2199-12-31","autorenew":"0"}],"count":1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.subreg.cz/dns/oldium.top
  response:
    body:
      string: '{"domain":"oldium.top","records":[{"id":"7143878","name":"docs","type":"CNAME","content":"docs.example.com","prio":0,"ttl":3600},{"id":"7143877","name":"localhost","type":"A","content":"127.0.0.1","prio":0,"ttl":3600},{"id":"7143888","name":"orig.nameonly.test","type":"TXT","content":"updated","prio":0,"ttl":3600},{"id":"7143884","name":"random.fqdntest","type":"TXT","content":"challengetoken","prio":0,"ttl":3600},{"id":"7143883","name":"random.fulltest","type":"TXT","content":"challengetoken","prio":0,"ttl":3600},{"id":"7143882","name":"random.test","type":"TXT","content":"challengetoken","prio":0,"ttl":3600},{"id"[...]
- request:
    body: '{"type": "TXT", "name": "_acme-challenge.deleterecordset", "content": "challengetoken1",
      "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.subreg.cz/dns/oldium.top/record
  response:
    body:
      string: '{"domain":"oldium.top","record_id":7143902}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.subreg.cz/dns/oldium.top/record/7143903
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
