interactions:
- request:
    body: '{"filter": {"field": "ZoneName", "value": "thisisadomainidonotown.com"},
      "page": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://partner.http.net/api/dns/v1/json/zoneConfigsFind
  response:
    body:
      string: "{\n    \"errors\": [\n    ],\n    \"metadata\": {\n        \"clientTransactionId\":
        \"\",\n        \"serverTransactionId\": \"20260310085450113-dnsrobot-robots1-3007277-0\"\n
        \   },\n    \"response\": {\n        \"data\": [\n        ],\n        \"limit\":
        25,\n        \"page\": 1,\n        \"totalEntries\": 0,\n        \"totalPages\":
        0,\n        \"type\": \"FindZoneConfigsResult\"\n    },\n    \"status\": \"success\",\n
        \   \"warnings\": [\n    ]\n}\n"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
