interactions:
- request:
    body: '{"filter": {"field": "ZoneName", "value": "lexicon-example-domain.de"},
      "page": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://partner.http.net/api/dns/v1/json/zoneConfigsFind
  response:
    body:
      string: "{\n    \"errors\": [\n    ],\n    \"metadata\": {\n        \"clientTransactionId\":
        \"\",\n        \"serverTransactionId\": \"20260310085546256-dnsrobot-robots1-3007277-0\"\n
        \   },\n    \"response\": {\n        \"data\": [\n            {\n                \"accountId\":
        \"181217txillqrawg3w2\",\n                \"addDate\": \"2026-03-10T08:42:38Z\",\n
        \               \"dnsSecMode\": \"off\",\n                \"dnsServerGroupId\":
        null,\n                \"emailAddress\": \"hostmaster@lexicon-example-domain.de\",\n
        \               \"id\": \"260310i7fx2xtjv6kse\",\n                \"lastChangeDate\":
        \"2026-03-10T08:55:45Z\",\n                \"masterIp\": \"\",\n                \"name\":
        \"lexicon-example-domain.de\",\n                \"nameUnicode\": \"lexicon-example-domain.de\",\n
        \               \"restorableUntil\": null,\n                \"soaValues\":
        {\n                    \"expire\": 3600000,\n                    \"negativeTtl\":
        900,\n                    \"refresh\": 86400,\n                    \"retry\":
        7200,\n                    \"ttl\": 86400\n                },\n                \"status\":
        \"blocked\",\n                \"templateValues\": null,\n                \"type\":
        \"NATIVE\",\n                \"zoneTransferWhitelist\": [\n                ]\n
        \           }\n        ],\n        \"limit\": 25,\n        \"page\": 1,\n
        \       \"totalEntries\": 1,\n        \"totalPages\": 1,\n        \"type\":
        \"FindZoneConfigsResult\"\n    },\n    \"status\": \"success\",\n    \"warnings\":
        [\n    ]\n}\n"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"filter": {"subFilterConnective": "AND", "subFilter": [{"field": "zoneConfigId",
      "value": "260310i7fx2xtjv6kse"}, {"field": "RecordType", "value": "TXT"}, {"field":
      "RecordName", "value": "orig.nameonly.test.lexicon-example-domain.de"}]}, "page":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://partner.http.net/api/dns/v1/json/recordsFind
  response:
    body:
      string: "{\n    \"errors\": [\n    ],\n    \"metadata\": {\n        \"clientTransactionId\":
        \"\",\n        \"serverTransactionId\": \"20260310085546374-dnsrobot-robots1-3007277-0\"\n
        \   },\n    \"response\": {\n        \"data\": [\n        ],\n        \"limit\":
        25,\n        \"page\": 1,\n        \"totalEntries\": 0,\n        \"totalPages\":
        0,\n        \"type\": \"FindRecordsResult\"\n    },\n    \"status\": \"success\",\n
        \   \"warnings\": [\n    ]\n}\n"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"zoneConfig": {"accountId": "181217txillqrawg3w2", "addDate": "2026-03-10T08:42:38Z",
      "dnsSecMode": "off", "dnsServerGroupId": null, "emailAddress": "hostmaster@lexicon-example-domain.de",
      "id": "260310i7fx2xtjv6kse", "lastChangeDate": "2026-03-10T08:55:45Z", "masterIp":
      "", "name": "lexicon-example-domain.de", "nameUnicode": "lexicon-example-domain.de",
      "restorableUntil": null, "soaValues": {"expire": 3600000, "negativeTtl": 900,
      "refresh": 86400, "retry": 7200, "ttl": 86400}, "status": "active", "templateValues":
      null, "type": "NATIVE", "zoneTransferWhitelist": []}, "recordsToAdd": [{"name":
      "orig.nameonly.test.lexicon-example-domain.de", "type": "TXT", "content": "challengetoken",
      "ttl": 3600}], "page": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://partner.http.net/api/dns/v1/json/zoneUpdate
  response:
    body:
      string: "{\n    \"errors\": [\n    ],\n    \"metadata\": {\n        \"clientTransactionId\":
        \"\",\n        \"serverTransactionId\": \"20260310085550072-dnsrobot-robots1-3007277-0\"\n
        \   },\n    \"response\": {\n        \"records\": [\n            {\n                \"accountId\":
        \"181217txillqrawg3w2\",\n                \"addDate\": \"2026-03-10T08:42:38Z\",\n
        \               \"comments\": \"\",\n                \"content\": \"aspmx.l.google.com\",\n
        \               \"id\": \"260310d4f3kjett463e\",\n                \"lastChangeDate\":
        \"2026-03-10T08:42:38Z\",\n                \"name\": \"lexicon-example-domain.de\",\n
        \               \"priority\": 1,\n                \"recordTemplateId\": null,\n
        \               \"ttl\": 3600,\n                \"type\": \"MX\",\n                \"zoneConfigId\":
        \"260310i7fx2xtjv6kse\"\n            },\n            {\n                \"accountId\":
        \"181217txillqrawg3w2\",\n                \"addDate\": \"2026-03-10T08:42:38Z\",\n
        \               \"comments\": \"\",\n                \"content\": \"alt1.aspmx.l.google.com\",\n
        \               \"id\": \"260310zqr447bhbbflq\",\n                \"lastChangeDate\":
        \"2026-03-10T08:42:38Z\",\n                \"name\": \"lexicon-example-domain.de\",\n
        \           [...]
[...]
- request:
    body: '{"zoneConfig": {"accountId": "181217txillqrawg3w2", "addDate": "2026-03-10T08:42:38Z",
      "dnsSecMode": "off", "dnsServerGroupId": null, "emailAddress": "hostmaster@lexicon-example-domain.de",
      "id": "260310i7fx2xtjv6kse", "lastChangeDate": "2026-03-10T08:55:50Z", "masterIp":
      "", "name": "lexicon-example-domain.de", "nameUnicode": "lexicon-example-domain.de",
      "restorableUntil": null, "soaValues": {"expire": 3600000, "negativeTtl": 900,
      "refresh": 86400, "retry": 7200, "ttl": 86400}, "status": "blocked", "templateValues":
      null, "type": "NATIVE", "zoneTransferWhitelist": []}, "recordsToDelete": [{"id":
      "260310oz65lcsl7ah24"}], "page": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://partner.http.net/api/dns/v1/json/zoneUpdate
  response:
    body:
      string: "{\n    \"errors\": [\n        {\n            \"code\": 10205,\n            \"contextObject\":
        \"\",\n            \"contextPath\": \"\",\n            \"details\": [\n            ],\n
        \           \"text\": \"The current status of an object you are trying to
        use does not allow that operation.\",\n            \"value\": \"blocked\"\n
        \       }\n    ],\n    \"metadata\": {\n        \"clientTransactionId\": \"\",\n
        \       \"serverTransactionId\": \"20260310085550666-dnsrobot-robots1-3007277-0\"\n
        \   },\n    \"status\": \"error\",\n    \"warnings\": [\n    ]\n}\n"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
