interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-08T04:48:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 17,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 7d2216dff5b8cabb1c4b1abf453362e7:5c56c49aaa47f2b7:0:1
      X-Correlation-Id:
      - 7d2216dff5b8cabb1c4b1abf453362e7
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3598'
      ratelimit-reset:
      - '1768313909'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=ttl.fqdn
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 8091968bb073e0c172cc3247246d876a:6b2bdbbcab6e28bd:0:1
      X-Correlation-Id:
      - 8091968bb073e0c172cc3247246d876a
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3597'
      ratelimit-reset:
      - '1768313910'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"ttlshouldbe3600\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/ttl.fqdn/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983201,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:27Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 93b32c14c77fefd1b96be8c28c5187fe:510842e5a2acf235:0:1
      X-Correlation-Id:
      - 93b32c14c77fefd1b96be8c28c5187fe
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7180'
      ratelimit-reset:
      - '1768313917'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983201
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983201,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:27Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cf29dd96264309086a611b01d160f9ab:762caeb30079dee0:0:1
      X-Correlation-Id:
      - cf29dd96264309086a611b01d160f9ab
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7180'
      ratelimit-reset:
      - '1768313918'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983201
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983201,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:27Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e754beaa007b166a180b56a91b09a2af:bd955a23a40c0a7d:0:1
      X-Correlation-Id:
      - e754beaa007b166a180b56a91b09a2af
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7180'
      ratelimit-reset:
      - '1768313919'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983201
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983201,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:27Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c132eba64a766c065296460c6ebe941e:3c3b27bc309c6832:0:1
      X-Correlation-Id:
      - c132eba64a766c065296460c6ebe941e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7180'
      ratelimit-reset:
      - '1768313919'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983201
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983201,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:27Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bf4912928b85817f51cb9222367ae3ae:19186bc1e228734c:0:1
      X-Correlation-Id:
      - bf4912928b85817f51cb9222367ae3ae
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7180'
      ratelimit-reset:
      - '1768313921'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983201
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983201,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-13T14:18:27Z\",\n        \"finished\":
        \"2026-01-13T14:18:31Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a00bae5fa74a96cd436443df2ec3937f:54328f7c474d69a3:0:1
      X-Correlation-Id:
      - a00bae5fa74a96cd436443df2ec3937f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7180'
      ratelimit-reset:
      - '1768313921'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=ttl.fqdn
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"ttl.fqdn/TXT\",\n
        \           \"name\": \"ttl.fqdn\",\n            \"type\": \"TXT\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"\\\"ttlshouldbe3600\\\"\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - df9a35fff97a43828da76ee8c2b85850:076f1cb67e923110:0:1
      X-Correlation-Id:
      - df9a35fff97a43828da76ee8c2b85850
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313912'
    status:
      code: 200
      message: OK
version: 1
