interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"updating\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-10-28T13:34:54Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 26,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 25bb22c968e3ddc488c187c472fcaf34:27ab8bae6903c2d1:0:1
      X-Correlation-Id:
      - 25bb22c968e3ddc488c187c472fcaf34
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3522'
      ratelimit-reset:
      - '1762337120'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        22\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"@/NS\",\n
        \           \"name\": \"@\",\n            \"type\": \"NS\",\n            \"ttl\":
        null,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"helium.ns.hetzner.de.\",\n                    \"comment\": \"\"\n                },\n
        \               {\n                    \"value\": \"hydrogen.ns.hetzner.com.\",\n
        \                   \"comment\": \"\"\n                },\n                {\n
        \                   \"value\": \"oxygen.ns.hetzner.com.\",\n                    \"comment\":
        \"\"\n                }\n            ],\n            \"zone\": 53091\n        },\n
        \       {\n            \"id\": \"@/SOA\",\n            \"name\": \"@\",\n
        \           \[...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.testfull/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 590729811150008,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-11-05T10:04:02.375817Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b4f6826c11c4d3263246eb7abaca9dcc:e5d474d28ea96650:0:1
      X-Correlation-Id:
      - b4f6826c11c4d3263246eb7abaca9dcc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7168'
      ratelimit-reset:
      - '1762337058'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/updated.testfull/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 590729811150009,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-11-05T10:04:02.710598Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a7cd11c77aaca12c952bbb1270e8e037:8a3f210291d3007a:0:1
      X-Correlation-Id:
      - a7cd11c77aaca12c952bbb1270e8e037
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7167'
      ratelimit-reset:
      - '1762337059'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.testfull/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 590729811150010,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-11-05T10:04:02.894147Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f1d6af53b996ee37dbde73856bdb46f7:1aaf38f7a383eb33:0:1
      X-Correlation-Id:
      - f1d6af53b996ee37dbde73856bdb46f7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7166'
      ratelimit-reset:
      - '1762337059'
    status:
      code: 201
      message: Created
version: 1
