interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"updating\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-10-28T13:34:54Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 25,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cc09977995218675272507bcacacf3e7:ffe7043679f95f07:0:1
      X-Correlation-Id:
      - cc09977995218675272507bcacacf3e7
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3528'
      ratelimit-reset:
      - '1762337113'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        21\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"@/NS\",\n
        \           \"name\": \"@\",\n            \"type\": \"NS\",\n            \"ttl\":
        null,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"helium.ns.hetzner.de.\",\n                    \"comment\": \"\"\n                },\n
        \               {\n                    \"value\": \"hydrogen.ns.hetzner.com.\",\n
        \                   \"comment\": \"\"\n                },\n                {\n
        \                   \"value\": \"oxygen.ns.hetzner.com.\",\n                    \"comment\":
        \"\"\n                }\n            ],\n            \"zone\": 53091\n        },\n
        \       {\n            \"id\": \"@/SOA\",\n            \"name\": \"@\",\n
        \           \[...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.testfqdn/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 590729811150002,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-11-05T10:04:01.580256Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c13461061777dbbdd5ae00c29bf20fa7:8585c83806ac3fac:0:1
      X-Correlation-Id:
      - c13461061777dbbdd5ae00c29bf20fa7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7171'
      ratelimit-reset:
      - '1762337056'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/updated.testfqdn/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 590729811150006,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-11-05T10:04:01.914224Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 77ce29257c1d8792cf995fb676b04821:858fe1d0c7327583:0:1
      X-Correlation-Id:
      - 77ce29257c1d8792cf995fb676b04821
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7170'
      ratelimit-reset:
      - '1762337056'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.testfqdn/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 590729811150007,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-11-05T10:04:02.081497Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ca34d0d5476b42fa3423f7d3f7dd411c:4c6afa0fb9de6c16:0:1
      X-Correlation-Id:
      - ca34d0d5476b42fa3423f7d3f7dd411c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7169'
      ratelimit-reset:
      - '1762337057'
    status:
      code: 201
      message: Created
version: 1
