interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-08T04:48:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 23,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 9780446b406376e2e5ab328b52904c45:402b21254b0f146f:0:1
      X-Correlation-Id:
      - 9780446b406376e2e5ab328b52904c45
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3596'
      ratelimit-reset:
      - '1768313947'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=orig.nameonly.test
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 6547b2bd5e1de2525e0461b69dc959c9:f67ff6c5c5bcffcf:0:1
      X-Correlation-Id:
      - 6547b2bd5e1de2525e0461b69dc959c9
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3595'
      ratelimit-reset:
      - '1768313949'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.nameonly.test/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983488,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:19:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 305e69065066ce1c68f4afe71fdb15b3:a3564185aee94a5f:0:1
      X-Correlation-Id:
      - 305e69065066ce1c68f4afe71fdb15b3
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313956'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983488
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983488,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:19:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d358f7472ef27b40b689c73a89204913:a398b3e4540b5560:0:1
      X-Correlation-Id:
      - d358f7472ef27b40b689c73a89204913
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313956'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983488
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983488,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:19:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e6ee828967ee64702a63a1086deff264:2567198e2e15fcde:0:1
      X-Correlation-Id:
      - e6ee828967ee64702a63a1086deff264
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313957'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983488
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983488,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:19:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eede8d7b6174f8f0cfc2b32914f8a48f:8bd3a019c895e28b:0:1
      X-Correlation-Id:
      - eede8d7b6174f8f0cfc2b32914f8a48f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313958'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983488
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983488,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:19:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c7a5ec86a351abf4350d9fd572df8ae2:fc49d423a858a42c:0:1
      X-Correlation-Id:
      - c7a5ec86a351abf4350d9fd572df8ae2
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313959'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983488
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983488,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:19:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f4e24ac5118537420bf6fada098d210c:b9369a4d5bf73194:0:1
      X-Correlation-Id:
      - f4e24ac5118537420bf6fada098d210c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313961'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983488
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983488,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:19:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - af014e0e286e8c4ae9b74edfc26c07c6:5e962c6e880836fe:0:1
      X-Correlation-Id:
      - af014e0e286e8c4ae9b74edfc26c07c6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313963'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983488
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983488,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:19:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d3abae7a26a6dd8d3633da9346a01bf1:04c4dc0a96b09548:0:1
      X-Correlation-Id:
      - d3abae7a26a6dd8d3633da9346a01bf1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313967'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983488
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983488,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:19:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c8843d24ee4cec0dbc70aaa7c4a3c2c5:9a36a25a672ae97b:0:1
      X-Correlation-Id:
      - c8843d24ee4cec0dbc70aaa7c4a3c2c5
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313967'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983488
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983488,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:19:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e889b181057e557b9af6a725442ef451:75faa62617b8e951:0:1
      X-Correlation-Id:
      - e889b181057e557b9af6a725442ef451
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313968'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983488
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983488,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:19:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - aaf297d5e6063a6edea1ebc63ac3fdd7:122332ff649d7640:0:1
      X-Correlation-Id:
      - aaf297d5e6063a6edea1ebc63ac3fdd7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313968'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983488
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983488,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:19:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dcbf9895235dda0312c158303445be7e:74ec03411bc6f7b4:0:1
      X-Correlation-Id:
      - dcbf9895235dda0312c158303445be7e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313971'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983488
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983488,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:19:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cb5d1ff4f6f4d1db6b2d2689011295e7:e2280078e73e17ad:0:1
      X-Correlation-Id:
      - cb5d1ff4f6f4d1db6b2d2689011295e7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313972'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=orig.nameonly.test
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"orig.nameonly.test/TXT\",\n
        \           \"name\": \"orig.nameonly.test\",\n            \"type\": \"TXT\",\n
        \           \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"\\\"challengetoken\\\"\",\n
        \                   \"comment\": \"\"\n                }\n            ],\n
        \           \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 42ad10934ce46d7aa3cfd719b84490fb:6e5533e69dc8c997:0:1
      X-Correlation-Id:
      - 42ad10934ce46d7aa3cfd719b84490fb
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313962'
    status:
      code: 200
      message: OK
- request:
    body: '{"records": [{"value": "\"updated\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.nameonly.test/TXT/actions/set_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983648,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:19:21Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 385ea9559c2627933684e5162608100f:a15a18a4fd5e1e0c:0:1
      X-Correlation-Id:
      - 385ea9559c2627933684e5162608100f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7175'
      ratelimit-reset:
      - '1768313974'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.nameonly.test/TXT/actions/change_ttl
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983691,\n        \"status\":
        \"running\",\n        \"command\": \"change_rrset_ttl\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:19:26Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fa689e6890ea04f0397495c0da5bd88e:903349ffb734ec28:0:1
      X-Correlation-Id:
      - fa689e6890ea04f0397495c0da5bd88e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7174'
      ratelimit-reset:
      - '1768313979'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983691
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983691,\n        \"status\":
        \"success\",\n        \"command\": \"change_rrset_ttl\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-13T14:19:26Z\",\n        \"finished\":
        \"2026-01-13T14:19:28Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 6fc387c27fb0ff620cbe9745fb1f0ed2:73190d8b75a04ea6:0:1
      X-Correlation-Id:
      - 6fc387c27fb0ff620cbe9745fb1f0ed2
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7174'
      ratelimit-reset:
      - '1768313982'
    status:
      code: 200
      message: OK
version: 1
