interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-08T04:48:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 22,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 217b02ca03afbcf392af9e0a7e2dd39c:74029219b6b4f4ee:0:1
      X-Correlation-Id:
      - 217b02ca03afbcf392af9e0a7e2dd39c
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3596'
      ratelimit-reset:
      - '1768313932'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=random.test
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - ea142bda935911438850c9e93f2bc19a:4bbc2300695b4438:0:1
      X-Correlation-Id:
      - ea142bda935911438850c9e93f2bc19a
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3595'
      ratelimit-reset:
      - '1768313933'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/random.test/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983358,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 4116c283e48cc726a55abadb2aaabd8a:c07c0fe03f733bb6:0:1
      X-Correlation-Id:
      - 4116c283e48cc726a55abadb2aaabd8a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313940'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983358
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983358,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f529f28998bf8f849e3052cd1035abe0:e9abc73dcf1f81ea:0:1
      X-Correlation-Id:
      - f529f28998bf8f849e3052cd1035abe0
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313941'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983358
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983358,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f4756403a6eede12b35680600eb2ab32:e38bf347e6e34d0c:0:1
      X-Correlation-Id:
      - f4756403a6eede12b35680600eb2ab32
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313941'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983358
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983358,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cfe550c9c8aeb2d8d88cd89f44972075:7101477b25826bca:0:1
      X-Correlation-Id:
      - cfe550c9c8aeb2d8d88cd89f44972075
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313944'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983358
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983358,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e7be35f7b3c47dc3b6ac83d61828e1b4:93c4c05ee336311e:0:1
      X-Correlation-Id:
      - e7be35f7b3c47dc3b6ac83d61828e1b4
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313945'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983358
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983358,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b5cc48c36db885b62c57e2bdfef080b2:8f641f2b08dd798b:0:1
      X-Correlation-Id:
      - b5cc48c36db885b62c57e2bdfef080b2
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313947'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983358
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983358,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e48666b656bab6a1b1045521aef60022:46968d041925cd92:0:1
      X-Correlation-Id:
      - e48666b656bab6a1b1045521aef60022
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313947'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983358
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983358,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b29d8cae27fb58a4cad859dbd248ca72:29cf7c7e27eed44e:0:1
      X-Correlation-Id:
      - b29d8cae27fb58a4cad859dbd248ca72
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313948'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983358
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983358,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a85d17899ceb1ce9b5d47dbc06139f01:7c22ecfaf9952159:0:1
      X-Correlation-Id:
      - a85d17899ceb1ce9b5d47dbc06139f01
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313951'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983358
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983358,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b3c0685906fb0b9d792136d81466aafa:3ab45dc1b4192100:0:1
      X-Correlation-Id:
      - b3c0685906fb0b9d792136d81466aafa
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1768313951'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=random.test
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"random.test/TXT\",\n
        \           \"name\": \"random.test\",\n            \"type\": \"TXT\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"\\\"challengetoken\\\"\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 77e50ac6199f0122a7d32acf5ba11ee1:c17cc04219235a7a:0:1
      X-Correlation-Id:
      - 77e50ac6199f0122a7d32acf5ba11ee1
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313944'
    status:
      code: 200
      message: OK
version: 1
