interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"updating\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-10-28T13:34:54Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 16,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a96cf326fee7aba2527b83c9349f5ae5:ddf68a9d7c85ce5f:0:1
      X-Correlation-Id:
      - a96cf326fee7aba2527b83c9349f5ae5
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3580'
      ratelimit-reset:
      - '1762337054'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        13\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"@/NS\",\n
        \           \"name\": \"@\",\n            \"type\": \"NS\",\n            \"ttl\":
        null,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"helium.ns.hetzner.de.\",\n                    \"comment\": \"\"\n                },\n
        \               {\n                    \"value\": \"hydrogen.ns.hetzner.com.\",\n
        \                   \"comment\": \"\"\n                },\n                {\n
        \                   \"value\": \"oxygen.ns.hetzner.com.\",\n                    \"comment\":
        \"\"\n                }\n            ],\n            \"zone\": 53091\n        },\n
        \       {\n            \"id\": \"@/SOA\",\n            \"name\": \"@\",\n
        \           \[...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfilt/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 590729811149975,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-11-05T10:03:54.403642Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c17f24285ac990ac308416bfe176eedf:1edc363c6f830358:0:1
      X-Correlation-Id:
      - c17f24285ac990ac308416bfe176eedf
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7191'
      ratelimit-reset:
      - '1762337038'
    status:
      code: 201
      message: Created
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfilt/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 590729811149977,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-11-05T10:03:54.5176Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 332ef66c6d4a1f78306e72eb89807a63:b60a65c8ef598e08:0:1
      X-Correlation-Id:
      - 332ef66c6d4a1f78306e72eb89807a63
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7190'
      ratelimit-reset:
      - '1762337039'
    status:
      code: 201
      message: Created
[...]
