interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-08T04:48:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 16,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f72ac3aec8962f4c28aa5f3ba0f748fb:59c1eb5f255fb190:0:1
      X-Correlation-Id:
      - f72ac3aec8962f4c28aa5f3ba0f748fb
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3597'
      ratelimit-reset:
      - '1768313854'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=delete.testfilt
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 7f3b83c7086fdb03b4d80424dfc45b78:21b23312bf2d79a1:0:1
      X-Correlation-Id:
      - 7f3b83c7086fdb03b4d80424dfc45b78
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3596'
      ratelimit-reset:
      - '1768313855'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfilt/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982766,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c165117bee29cbf61d0629a76a560ecb:12e466fc31af0246:0:1
      X-Correlation-Id:
      - c165117bee29cbf61d0629a76a560ecb
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7191'
      ratelimit-reset:
      - '1768313856'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982766
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982766,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d1c42e6d9d3f92ed695f088fd43bb829:a2fbefab18c0c08f:0:1
      X-Correlation-Id:
      - d1c42e6d9d3f92ed695f088fd43bb829
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7191'
      ratelimit-reset:
      - '1768313857'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982766
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982766,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d096f213161d3042c77f3784d0b8593b:f8025cd99c9bcc40:0:1
      X-Correlation-Id:
      - d096f213161d3042c77f3784d0b8593b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7191'
      ratelimit-reset:
      - '1768313858'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982766
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982766,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f5587d902d263d3913d98e0bc6580d23:a8b7d86ce4eab523:0:1
      X-Correlation-Id:
      - f5587d902d263d3913d98e0bc6580d23
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7191'
      ratelimit-reset:
      - '1768313858'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfilt/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982789,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - aa18ecd27e2ec37a30f761cf74fccf52:81690dd347d4924b:0:1
      X-Correlation-Id:
      - aa18ecd27e2ec37a30f761cf74fccf52
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7190'
      ratelimit-reset:
      - '1768313860'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982789
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982789,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ea68a706227f937ebbed8e2cf76102ba:561c46883513ddd2:0:1
      X-Correlation-Id:
      - ea68a706227f937ebbed8e2cf76102ba
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7190'
      ratelimit-reset:
      - '1768313861'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982789
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982789,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a488fe7e2ae9354452c6fa002eccb893:ac77963efe776451:0:1
      X-Correlation-Id:
      - a488fe7e2ae9354452c6fa002eccb893
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7190'
      ratelimit-reset:
      - '1768313863'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=delete.testfilt
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 165b07580438df78b6f23476e680a748:34deb3ec733b9edb:0:1
      X-Correlation-Id:
      - 165b07580438df78b6f23476e680a748
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313859'
    status:
      code: 200
      message: OK
version: 1
