interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"updating\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-10-28T13:34:54Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 17,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 524cda6b85d9dbcea559ad134158993e:8cda5dad66a7f4db:0:1
      X-Correlation-Id:
      - 524cda6b85d9dbcea559ad134158993e
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3556'
      ratelimit-reset:
      - '1762337081'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        14\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"@/NS\",\n
        \           \"name\": \"@\",\n            \"type\": \"NS\",\n            \"ttl\":
        null,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"helium.ns.hetzner.de.\",\n                    \"comment\": \"\"\n                },\n
        \               {\n                    \"value\": \"hydrogen.ns.hetzner.com.\",\n
        \                   \"comment\": \"\"\n                },\n                {\n
        \                   \"value\": \"oxygen.ns.hetzner.com.\",\n                    \"comment\":
        \"\"\n                }\n            ],\n            \"zone\": 53091\n        },\n
        \       {\n            \"id\": \"@/SOA\",\n            \"name\": \"@\",\n
        \           \[...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"ttlshouldbe3600\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/ttl.fqdn/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 590729811149991,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-11-05T10:03:57.809228Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - df1bb7203f66ac9ce490915721a66bd3:de01d0ce520efee6:0:1
      X-Correlation-Id:
      - df1bb7203f66ac9ce490915721a66bd3
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7180'
      ratelimit-reset:
      - '1762337047'
    status:
      code: 201
      message: Created
[...]
