interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-08T04:48:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 16,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e717ce246c439243292c602e1f51ec06:cf979465115345fe:0:1
      X-Correlation-Id:
      - e717ce246c439243292c602e1f51ec06
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3598'
      ratelimit-reset:
      - '1768313878'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.deleterecordinset
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 37b47d8f42b8b0e721b28fae116fe7e1:9bbc2002ba4da53a:0:1
      X-Correlation-Id:
      - 37b47d8f42b8b0e721b28fae116fe7e1
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3597'
      ratelimit-reset:
      - '1768313879'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken1\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordinset/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982951,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 8e284c8bfcc20b2ab7d2933419cc8984:471c3bdfddbd39bb:0:1
      X-Correlation-Id:
      - 8e284c8bfcc20b2ab7d2933419cc8984
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7185'
      ratelimit-reset:
      - '1768313883'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982951
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982951,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 0bda47d3e7cb3dbd279718a439c8e6b2:f816aafa6314315c:0:1
      X-Correlation-Id:
      - 0bda47d3e7cb3dbd279718a439c8e6b2
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7185'
      ratelimit-reset:
      - '1768313884'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982951
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982951,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b02ddcd2ef6faaffef1e25daacdb5c51:0c204f0cc762482b:0:1
      X-Correlation-Id:
      - b02ddcd2ef6faaffef1e25daacdb5c51
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7185'
      ratelimit-reset:
      - '1768313884'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982951
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982951,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dd8099aa8e850bb0fc0573c0918d3684:337ee2524e31efc4:0:1
      X-Correlation-Id:
      - dd8099aa8e850bb0fc0573c0918d3684
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7185'
      ratelimit-reset:
      - '1768313885'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.deleterecordinset
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"_acme-challenge.deleterecordinset/TXT\",\n
        \           \"name\": \"_acme-challenge.deleterecordinset\",\n            \"type\":
        \"TXT\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"\\\"challengetoken1\\\"\",\n
        \                   \"comment\": \"\"\n                }\n            ],\n
        \           \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 75f7e76e1d04780cb38d99243723054d:07fa686d9baaca70:0:1
      X-Correlation-Id:
      - 75f7e76e1d04780cb38d99243723054d
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313880'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken2\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordinset/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982971,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - be5ce430bc01147b65e0153bcf313773:51d2a88f917702a3:0:1
      X-Correlation-Id:
      - be5ce430bc01147b65e0153bcf313773
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7184'
      ratelimit-reset:
      - '1768313887'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982971
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982971,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - af890a3d5e994b5bac8668055aba33a5:d4bb39e527cb973e:0:1
      X-Correlation-Id:
      - af890a3d5e994b5bac8668055aba33a5
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7184'
      ratelimit-reset:
      - '1768313888'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982971
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982971,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fd33bf61ff295a1f5a274828f3397eba:b2b75fb86f9dd9b1:0:1
      X-Correlation-Id:
      - fd33bf61ff295a1f5a274828f3397eba
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7184'
      ratelimit-reset:
      - '1768313889'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982971
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982971,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cd9e93eda5e1cd48f617808f48314b71:9579779b8f29c8b8:0:1
      X-Correlation-Id:
      - cd9e93eda5e1cd48f617808f48314b71
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7184'
      ratelimit-reset:
      - '1768313890'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982971
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982971,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a8e33a8e4e72e8f75da8afbf5aa83a9c:bac9920cc2b89ba7:0:1
      X-Correlation-Id:
      - a8e33a8e4e72e8f75da8afbf5aa83a9c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7184'
      ratelimit-reset:
      - '1768313891'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken1\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordinset/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983038,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 15559c9f089eeb6635e286492e8181a7:2d4ebedc3868f38b:0:1
      X-Correlation-Id:
      - 15559c9f089eeb6635e286492e8181a7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7183'
      ratelimit-reset:
      - '1768313893'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983038
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983038,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a3387968943e7eb9c9c3291a58828f0a:81c6a8dc7ec90826:0:1
      X-Correlation-Id:
      - a3387968943e7eb9c9c3291a58828f0a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7183'
      ratelimit-reset:
      - '1768313894'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983038
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983038,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ba42dcbb06c448ddff2638f4499b2548:8e331242784f2874:0:1
      X-Correlation-Id:
      - ba42dcbb06c448ddff2638f4499b2548
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7183'
      ratelimit-reset:
      - '1768313894'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983038
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983038,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a39a184655afad0585e3b04e8183eace:1faa65f970964a67:0:1
      X-Correlation-Id:
      - a39a184655afad0585e3b04e8183eace
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7183'
      ratelimit-reset:
      - '1768313896'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983038
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983038,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d5b77fc8ff7b7c7a879aa36f906c5ce2:f0864a3bff530017:0:1
      X-Correlation-Id:
      - d5b77fc8ff7b7c7a879aa36f906c5ce2
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7183'
      ratelimit-reset:
      - '1768313897'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983038
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983038,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e2220f44b0113dcfd928fd6263bf140d:3c430e2faf9307d1:0:1
      X-Correlation-Id:
      - e2220f44b0113dcfd928fd6263bf140d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7183'
      ratelimit-reset:
      - '1768313897'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983038
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983038,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d12469489912394176d390460ba3851a:5cab32698be7d7d6:0:1
      X-Correlation-Id:
      - d12469489912394176d390460ba3851a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7183'
      ratelimit-reset:
      - '1768313898'
    status:
      code: 200
      message: OK
[...]
