interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-08T04:48:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 8,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b9ce2246108f013c1146c5668408bdf0:3fd9602e1bb7daa6:0:1
      X-Correlation-Id:
      - b9ce2246108f013c1146c5668408bdf0
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3597'
      ratelimit-reset:
      - '1768313805'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=A&name=localhost
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 75c03e26e4d4fa4be592e32c706ec523:7bb4f9cee4348fcb:0:1
      X-Correlation-Id:
      - 75c03e26e4d4fa4be592e32c706ec523
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3596'
      ratelimit-reset:
      - '1768313807'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "127.0.0.1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/localhost/A/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982297,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:16:43Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 13d546efd75ccf8faf7fd88afc3344d1:53068277384b167c:0:1
      X-Correlation-Id:
      - 13d546efd75ccf8faf7fd88afc3344d1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7199'
      ratelimit-reset:
      - '1768313803'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982297
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982297,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:16:43Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b4827095488a26a128b3ac1d537517ec:24485cee2e8a1726:0:1
      X-Correlation-Id:
      - b4827095488a26a128b3ac1d537517ec
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7199'
      ratelimit-reset:
      - '1768313804'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982297
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982297,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:16:43Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f4afe4cf05e2fc8a7c29f58a7e946c86:41b479d8cc87a8c8:0:1
      X-Correlation-Id:
      - f4afe4cf05e2fc8a7c29f58a7e946c86
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7199'
      ratelimit-reset:
      - '1768313804'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982297
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982297,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-13T14:16:43Z\",\n        \"finished\":
        \"2026-01-13T14:16:51Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cfe981cdb85553df7d1c3619e785105b:8e44e06d0f564cd8:0:1
      X-Correlation-Id:
      - cfe981cdb85553df7d1c3619e785105b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7199'
      ratelimit-reset:
      - '1768313812'
    status:
      code: 200
      message: OK
version: 1
