interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"updating\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-10-28T13:34:54Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 23,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b7e1506b8f6640b0585df240c9221188:0fa127e01b4c6d64:0:1
      X-Correlation-Id:
      - b7e1506b8f6640b0585df240c9221188
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3536'
      ratelimit-reset:
      - '1762337104'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        19\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"@/NS\",\n
        \           \"name\": \"@\",\n            \"type\": \"NS\",\n            \"ttl\":
        null,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"helium.ns.hetzner.de.\",\n                    \"comment\": \"\"\n                },\n
        \               {\n                    \"value\": \"hydrogen.ns.hetzner.com.\",\n
        \                   \"comment\": \"\"\n                },\n                {\n
        \                   \"value\": \"oxygen.ns.hetzner.com.\",\n                    \"comment\":
        \"\"\n                }\n            ],\n            \"zone\": 53091\n        },\n
        \       {\n            \"id\": \"@/SOA\",\n            \"name\": \"@\",\n
        \           \[...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.test/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 590729811149997,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-11-05T10:04:00.366829Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d88068bedf2d7b58b0467d9bfc2dfe32:8d1a7d9f03e110ff:0:1
      X-Correlation-Id:
      - d88068bedf2d7b58b0467d9bfc2dfe32
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7176'
      ratelimit-reset:
      - '1762337052'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/updated.test/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 590729811149998,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-11-05T10:04:00.722638Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 146fb5f2a3314f2cf268394c5f2c5e7f:550d21f8b0c38839:0:1
      X-Correlation-Id:
      - 146fb5f2a3314f2cf268394c5f2c5e7f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7175'
      ratelimit-reset:
      - '1762337053'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.test/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 590729811149999,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-11-05T10:04:00.903407Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 5375877b2a822cb6bbe42e3370b87a76:16e9ebe9877c1e7f:0:1
      X-Correlation-Id:
      - 5375877b2a822cb6bbe42e3370b87a76
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7174'
      ratelimit-reset:
      - '1762337053'
    status:
      code: 201
      message: Created
version: 1
