interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-08T04:48:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 16,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 1018535342b56ac7614ccfbd9d99d79e:2d4a9721ac156ab5:0:1
      X-Correlation-Id:
      - 1018535342b56ac7614ccfbd9d99d79e
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3598'
      ratelimit-reset:
      - '1768313872'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=delete.testfull
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - e2d95dd65e62f6d867086006e4d010d2:dee6f642129f235c:0:1
      X-Correlation-Id:
      - e2d95dd65e62f6d867086006e4d010d2
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3597'
      ratelimit-reset:
      - '1768313873'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfull/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982908,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:50Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e177dbf19a8e91f1f0986fa786eb28c7:f47f45c65f348a9e:0:1
      X-Correlation-Id:
      - e177dbf19a8e91f1f0986fa786eb28c7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7187'
      ratelimit-reset:
      - '1768313877'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982908
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982908,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:50Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e40627f207dc553e46d8748401af6ee9:aef2b693b30bb2e3:0:1
      X-Correlation-Id:
      - e40627f207dc553e46d8748401af6ee9
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7187'
      ratelimit-reset:
      - '1768313877'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982908
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982908,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:50Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f98a3b73680057e738781276fcaaf507:18d60fe25fcb8c8f:0:1
      X-Correlation-Id:
      - f98a3b73680057e738781276fcaaf507
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7187'
      ratelimit-reset:
      - '1768313878'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982908
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982908,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:50Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ae55e4948ad70338b92cdc7628ff969b:ac35f51e5a5cd4f7:0:1
      X-Correlation-Id:
      - ae55e4948ad70338b92cdc7628ff969b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7187'
      ratelimit-reset:
      - '1768313879'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfull/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982929,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 577e5fa25527f713c621a4b74f85c2e1:87f17f14fe3869b5:0:1
      X-Correlation-Id:
      - 577e5fa25527f713c621a4b74f85c2e1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7186'
      ratelimit-reset:
      - '1768313880'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982929
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982929,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f2af7bc6b04615f5b881da2ce9e2568c:a1c0c09659d0662a:0:1
      X-Correlation-Id:
      - f2af7bc6b04615f5b881da2ce9e2568c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7186'
      ratelimit-reset:
      - '1768313881'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982929
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982929,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c098cb694b8960464986333af73eb6ba:25df54855da68823:0:1
      X-Correlation-Id:
      - c098cb694b8960464986333af73eb6ba
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7186'
      ratelimit-reset:
      - '1768313882'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=delete.testfull
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 4091c0ead221459dcb2d143024c55b8a:fb223622bbaa17ff:0:1
      X-Correlation-Id:
      - 4091c0ead221459dcb2d143024c55b8a
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313877'
    status:
      code: 200
      message: OK
version: 1
