interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/thisisadomainidonotown.com
  response:
    body:
      string: "{\n    \"error\": {\n        \"code\": \"not_found\",\n        \"message\":
        \"Zone not found\",\n        \"details\": null\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f271dd0e28c5c5e335d0a21d4e902b12:fecf9d0671e44e1f:0:1
      X-Correlation-Id:
      - f271dd0e28c5c5e335d0a21d4e902b12
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3598'
      ratelimit-reset:
      - '1768313804'
    status:
      code: 404
      message: Not Found
version: 1
