interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-08T04:48:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 11,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e41b53862be7839ebcc2b92f3d66ce9b:b5517c108e344f4c:0:1
      X-Correlation-Id:
      - e41b53862be7839ebcc2b92f3d66ce9b
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313819'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.full
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - c4d3bee7fca11c53ac15d27dd27e4df8:a7f57391ef0e29ed:0:1
      X-Correlation-Id:
      - c4d3bee7fca11c53ac15d27dd27e4df8
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3598'
      ratelimit-reset:
      - '1768313820'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.full/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982425,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:16:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d24b6ab55649e8dfd93647d345f17de1:a211a4c8c994ef31:0:1
      X-Correlation-Id:
      - d24b6ab55649e8dfd93647d345f17de1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7196'
      ratelimit-reset:
      - '1768313820'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982425
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982425,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:16:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - be12c7f240ca525de2c95b934cb6f89f:4364f9acb59c0ba4:0:1
      X-Correlation-Id:
      - be12c7f240ca525de2c95b934cb6f89f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7196'
      ratelimit-reset:
      - '1768313821'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982425
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982425,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:16:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d7e1e70e769c9cf5bbfcf33c2b228d45:274b8f3da2395a7f:0:1
      X-Correlation-Id:
      - d7e1e70e769c9cf5bbfcf33c2b228d45
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7196'
      ratelimit-reset:
      - '1768313825'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982425
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982425,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:16:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c46dbe84b4609eeb0b7c752404563d67:7ae084adb365a57f:0:1
      X-Correlation-Id:
      - c46dbe84b4609eeb0b7c752404563d67
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7196'
      ratelimit-reset:
      - '1768313826'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982425
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982425,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:16:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d05747bf29c0891f401b914dcf0d9830:935ba10cddc61e8f:0:1
      X-Correlation-Id:
      - d05747bf29c0891f401b914dcf0d9830
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7196'
      ratelimit-reset:
      - '1768313826'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982425
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982425,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:16:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e61cc1c22304afb0899f0d7b4bbaeeb5:23b62bd6eefa48b0:0:1
      X-Correlation-Id:
      - e61cc1c22304afb0899f0d7b4bbaeeb5
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7196'
      ratelimit-reset:
      - '1768313829'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982425
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982425,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:16:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a65a2f3af8989f0b5a38a11c2d2c251d:41e40243858f6e5c:0:1
      X-Correlation-Id:
      - a65a2f3af8989f0b5a38a11c2d2c251d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7196'
      ratelimit-reset:
      - '1768313831'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982425
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982425,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-13T14:16:58Z\",\n        \"finished\":
        \"2026-01-13T14:17:11Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 81ec44f80c5ddc858f0884407d1909db:8feba21bcb393bec:0:1
      X-Correlation-Id:
      - 81ec44f80c5ddc858f0884407d1909db
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7196'
      ratelimit-reset:
      - '1768313834'
    status:
      code: 200
      message: OK
version: 1
