interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-08T04:48:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 12,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 3924aaae37d099e34ff1fc15403ba9ae:8a785421a7667aa5:0:1
      X-Correlation-Id:
      - 3924aaae37d099e34ff1fc15403ba9ae
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313833'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.test
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - fa5e9cbd61115b1705e29da4f714d5e6:5261e32d2a8a9a8c:0:1
      X-Correlation-Id:
      - fa5e9cbd61115b1705e29da4f714d5e6
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3598'
      ratelimit-reset:
      - '1768313834'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.test/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982596,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:12Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 414b3d951c9df0556decce114f9fc81d:f59ec2056d3fa54b:0:1
      X-Correlation-Id:
      - 414b3d951c9df0556decce114f9fc81d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7195'
      ratelimit-reset:
      - '1768313835'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982596
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982596,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:12Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c5b205316896091c98e3173331b37d0a:d5d8ccc2ee1059bc:0:1
      X-Correlation-Id:
      - c5b205316896091c98e3173331b37d0a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7195'
      ratelimit-reset:
      - '1768313835'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982596
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982596,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:12Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c9420dfaf7f3ff456b00679ef4631f60:597021d19e41df28:0:1
      X-Correlation-Id:
      - c9420dfaf7f3ff456b00679ef4631f60
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7195'
      ratelimit-reset:
      - '1768313836'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982596
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982596,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:12Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fcf8a5d557d0e8ad1f7c7130d4180a94:4ce25ca3613a3b69:0:1
      X-Correlation-Id:
      - fcf8a5d557d0e8ad1f7c7130d4180a94
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7195'
      ratelimit-reset:
      - '1768313836'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982596
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982596,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:12Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d3ab26a8b8d4c7cc9963515cb6854c16:84b293e0227f9591:0:1
      X-Correlation-Id:
      - d3ab26a8b8d4c7cc9963515cb6854c16
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7195'
      ratelimit-reset:
      - '1768313839'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982596
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982596,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-13T14:17:12Z\",\n        \"finished\":
        \"2026-01-13T14:17:17Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 89d01adf061bbb93378918c3dcd77656:dba24cf3e5cf71be:0:1
      X-Correlation-Id:
      - 89d01adf061bbb93378918c3dcd77656
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7195'
      ratelimit-reset:
      - '1768313839'
    status:
      code: 200
      message: OK
version: 1
