interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-08T04:48:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 16,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d887cd08099811043a1efa73be498016:e66b8d5a65c51457:0:1
      X-Correlation-Id:
      - d887cd08099811043a1efa73be498016
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3598'
      ratelimit-reset:
      - '1768313860'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=delete.testfqdn
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - fd31b6be267a7c54a044a468f9e7ce16:2231af0a08c183f8:0:1
      X-Correlation-Id:
      - fd31b6be267a7c54a044a468f9e7ce16
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3597'
      ratelimit-reset:
      - '1768313862'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfqdn/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982820,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bb0f276e00f6f5ad2d878b641261cca6:f49f63475a85f605:0:1
      X-Correlation-Id:
      - bb0f276e00f6f5ad2d878b641261cca6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7189'
      ratelimit-reset:
      - '1768313864'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982820
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982820,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a0aec76d3b329885521994d924529971:052c601932fee394:0:1
      X-Correlation-Id:
      - a0aec76d3b329885521994d924529971
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7189'
      ratelimit-reset:
      - '1768313865'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982820
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982820,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e261fadee31bc0fa5bdf5c298d59a1a8:a2f697a8974f309b:0:1
      X-Correlation-Id:
      - e261fadee31bc0fa5bdf5c298d59a1a8
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7189'
      ratelimit-reset:
      - '1768313867'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfqdn/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982850,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:42Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 3eb9be4f791283dc7d4f478733d607ba:bae95f174db91b9e:0:1
      X-Correlation-Id:
      - 3eb9be4f791283dc7d4f478733d607ba
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7188'
      ratelimit-reset:
      - '1768313868'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982850
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982850,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:42Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fb0aed765bfa29aded11ef6f72fbc6da:4db47ebc11dbbb56:0:1
      X-Correlation-Id:
      - fb0aed765bfa29aded11ef6f72fbc6da
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7188'
      ratelimit-reset:
      - '1768313869'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982850
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982850,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:42Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ed2ff8b6967f1e233392e8cde78983bb:887ea626fef95551:0:1
      X-Correlation-Id:
      - ed2ff8b6967f1e233392e8cde78983bb
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7188'
      ratelimit-reset:
      - '1768313871'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982850
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982850,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:42Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e7bf5ad5c481936ced93e87aa13bc7e9:5cac3d0eec40fb21:0:1
      X-Correlation-Id:
      - e7bf5ad5c481936ced93e87aa13bc7e9
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7188'
      ratelimit-reset:
      - '1768313873'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982850
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982850,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:42Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c10484c609648b7b7be1880974ec8ae7:8fc4c5761ae32897:0:1
      X-Correlation-Id:
      - c10484c609648b7b7be1880974ec8ae7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7188'
      ratelimit-reset:
      - '1768313873'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982850
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982850,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:42Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f0cc52a3bc8b8bc522c21873e9e2ee7c:7e2163e68f396bce:0:1
      X-Correlation-Id:
      - f0cc52a3bc8b8bc522c21873e9e2ee7c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7188'
      ratelimit-reset:
      - '1768313874'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982850
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982850,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:42Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d59e80ae59d2f674a9ac5f9ca993c0ce:080db773bd66b18a:0:1
      X-Correlation-Id:
      - d59e80ae59d2f674a9ac5f9ca993c0ce
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7188'
      ratelimit-reset:
      - '1768313874'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982850
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982850,\n        \"status\":
        \"success\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-13T14:17:42Z\",\n        \"finished\":
        \"2026-01-13T14:17:49Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e8cc6d7f6ba867dedf31867d16426ff8:e61bcd396b20711f:0:1
      X-Correlation-Id:
      - e8cc6d7f6ba867dedf31867d16426ff8
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7188'
      ratelimit-reset:
      - '1768313876'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=delete.testfqdn
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 02bad4968c4e6a44a8631f859bf10eab:f8264029c2282314:0:1
      X-Correlation-Id:
      - 02bad4968c4e6a44a8631f859bf10eab
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313871'
    status:
      code: 200
      message: OK
version: 1
