interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-08T04:48:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 10,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a464930ea9b08f6f1ae89c6bd584ff85:56c21ff3409880f4:0:1
      X-Correlation-Id:
      - a464930ea9b08f6f1ae89c6bd584ff85
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313815'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.fqdn
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - a16ebc71e0b20ff2fa22f155c5c8cc17:7913cdf74f6cf56f:0:1
      X-Correlation-Id:
      - a16ebc71e0b20ff2fa22f155c5c8cc17
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3598'
      ratelimit-reset:
      - '1768313816'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.fqdn/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982395,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:16:54Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 101fe93cee44ca7a52d9fd314e9d0c01:5850a9862c48c510:0:1
      X-Correlation-Id:
      - 101fe93cee44ca7a52d9fd314e9d0c01
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7197'
      ratelimit-reset:
      - '1768313816'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982395
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982395,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:16:54Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 4f4eed6c555ea71ea60449cde7769b16:f7d9ad30bcd9c3da:0:1
      X-Correlation-Id:
      - 4f4eed6c555ea71ea60449cde7769b16
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7197'
      ratelimit-reset:
      - '1768313817'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982395
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982395,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:16:54Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b8ffde229d8d7b57b4066a3f8ee548b2:68bc2369932cb109:0:1
      X-Correlation-Id:
      - b8ffde229d8d7b57b4066a3f8ee548b2
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7197'
      ratelimit-reset:
      - '1768313817'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982395
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982395,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:16:54Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e231456aa204a6f8e788126583c52b9b:06e7ba1cbc44fd21:0:1
      X-Correlation-Id:
      - e231456aa204a6f8e788126583c52b9b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7197'
      ratelimit-reset:
      - '1768313818'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982395
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982395,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:16:54Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ef2ccb9ac9b94999a532035b24608288:65d91b4823c6ae80:0:1
      X-Correlation-Id:
      - ef2ccb9ac9b94999a532035b24608288
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7197'
      ratelimit-reset:
      - '1768313819'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982395
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982395,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-13T14:16:54Z\",\n        \"finished\":
        \"2026-01-13T14:16:58Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d42585fd6cad8ced6ee89e9926e4defa:92a1f9fc0fd09252:0:1
      X-Correlation-Id:
      - d42585fd6cad8ced6ee89e9926e4defa
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7197'
      ratelimit-reset:
      - '1768313819'
    status:
      code: 200
      message: OK
version: 1
