interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-08T04:48:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 9,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 0d1547d3afe91e35910dd16cc541190a:a8c9f5624d4cf476:0:1
      X-Correlation-Id:
      - 0d1547d3afe91e35910dd16cc541190a
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313813'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=CNAME&name=docs
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 20201278e8c4989dba81ef3b3c4ac207:1c9827a61dd38b89:0:1
      X-Correlation-Id:
      - 20201278e8c4989dba81ef3b3c4ac207
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3598'
      ratelimit-reset:
      - '1768313814'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "docs.example.com"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/docs/CNAME/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982372,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:16:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 565b01bae2b89c56fd423c961fb9a201:c493b3d5c355921a:0:1
      X-Correlation-Id:
      - 565b01bae2b89c56fd423c961fb9a201
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7198'
      ratelimit-reset:
      - '1768313813'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982372
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982372,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:16:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cdd8f20f5197d50c2ee38dd9b86cf2c9:874d35aaa5eeb8e6:0:1
      X-Correlation-Id:
      - cdd8f20f5197d50c2ee38dd9b86cf2c9
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7198'
      ratelimit-reset:
      - '1768313813'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982372
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982372,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:16:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ca25c2bb2eaff0a575f55a9f6625dee8:8ed316cbf390e534:0:1
      X-Correlation-Id:
      - ca25c2bb2eaff0a575f55a9f6625dee8
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7198'
      ratelimit-reset:
      - '1768313815'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982372
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982372,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-13T14:16:52Z\",\n        \"finished\":
        \"2026-01-13T14:16:54Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a0a6a3075edf15e2f2d4bb9b299b0242:0d05dd93f65f60ca:0:1
      X-Correlation-Id:
      - a0a6a3075edf15e2f2d4bb9b299b0242
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7198'
      ratelimit-reset:
      - '1768313815'
    status:
      code: 200
      message: OK
version: 1
