interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/thisisadomainidonotown.com
  response:
    body:
      string: "{\n    \"error\": {\n        \"code\": \"not_found\",\n        \"message\":
        \"Zone not found\",\n        \"details\": null\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 6e96bdb6bed41c194ad85979e65ea3ff:8da1653dfd4554ad:0:1
      X-Correlation-Id:
      - 6e96bdb6bed41c194ad85979e65ea3ff
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3598'
      ratelimit-reset:
      - '1762337033'
    status:
      code: 404
      message: Not Found
version: 1
