interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"updating\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-10-28T13:34:54Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 9,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b8eb4c5da1eebd175430bce608790592:dcdc2d7ee0383928:0:1
      X-Correlation-Id:
      - b8eb4c5da1eebd175430bce608790592
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3595'
      ratelimit-reset:
      - '1762337037'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        7\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"nominatim/A\",\n
        \           \"name\": \"nominatim\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"128.140.58.208\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"@/SOA\",\n            \"name\": \"@\",\n            \"type\": \"SOA\",\n
        \           \"ttl\": null,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"hydrogen.ns.hetzner.com.
        dns.hetzner.com. 2[...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "docs.example.com"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/docs/CNAME/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 590729811149968,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-11-05T10:03:52.257882Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 501ec9d3704afa08a3fdd2222bccdd47:a3d49bd4733dfccc:0:1
      X-Correlation-Id:
      - 501ec9d3704afa08a3fdd2222bccdd47
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7198'
      ratelimit-reset:
      - '1762337033'
    status:
      code: 201
      message: Created
version: 1
