interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-08T04:48:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 17,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f1d088ce88ded894824d36a2ad1a88df:f27914ac187d9c2a:0:1
      X-Correlation-Id:
      - f1d088ce88ded894824d36a2ad1a88df
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3598'
      ratelimit-reset:
      - '1768313892'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.deleterecordset
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 3b96d6d7515fcb47c738c7dae6a00762:5dbd0d3a16d78244:0:1
      X-Correlation-Id:
      - 3b96d6d7515fcb47c738c7dae6a00762
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3597'
      ratelimit-reset:
      - '1768313893'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken1\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordset/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983081,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c862713c925b6c1541a783da8cb1b7f6:05df6f4bdac4d445:0:1
      X-Correlation-Id:
      - c862713c925b6c1541a783da8cb1b7f6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7182'
      ratelimit-reset:
      - '1768313899'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983081
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983081,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 1ed611e04a762e39c7ee35d1e0713851:9de676b2c95c044b:0:1
      X-Correlation-Id:
      - 1ed611e04a762e39c7ee35d1e0713851
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7182'
      ratelimit-reset:
      - '1768313900'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983081
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983081,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cf095cd1515b7c523ddd1e6cc6a890f9:0a5f1247824f0e1b:0:1
      X-Correlation-Id:
      - cf095cd1515b7c523ddd1e6cc6a890f9
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7182'
      ratelimit-reset:
      - '1768313900'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983081
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983081,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eb4836d7c7f4d1faa0ce5070d683c1f4:2b780a7a433e196e:0:1
      X-Correlation-Id:
      - eb4836d7c7f4d1faa0ce5070d683c1f4
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7182'
      ratelimit-reset:
      - '1768313902'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.deleterecordset
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"_acme-challenge.deleterecordset/TXT\",\n
        \           \"name\": \"_acme-challenge.deleterecordset\",\n            \"type\":
        \"TXT\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"\\\"challengetoken1\\\"\",\n
        \                   \"comment\": \"\"\n                }\n            ],\n
        \           \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 8644baf5e82078deed21de0f206d8460:ac58aed50ab463b5:0:1
      X-Correlation-Id:
      - 8644baf5e82078deed21de0f206d8460
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313894'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken2\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordset/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983103,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:13Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cfc125fc367792757fdeb771f3d2ea6e:b272773f35d7e8bd:0:1
      X-Correlation-Id:
      - cfc125fc367792757fdeb771f3d2ea6e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7181'
      ratelimit-reset:
      - '1768313903'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983103
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983103,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:13Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cc13ec089f8db9aa501ea2a2a39e7fbf:3c4195c09652c2af:0:1
      X-Correlation-Id:
      - cc13ec089f8db9aa501ea2a2a39e7fbf
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7181'
      ratelimit-reset:
      - '1768313903'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983103
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983103,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:13Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f079ba2b4b46de2726d019097178cfda:f0cf98d26999d8fb:0:1
      X-Correlation-Id:
      - f079ba2b4b46de2726d019097178cfda
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7181'
      ratelimit-reset:
      - '1768313905'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983103
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983103,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:13Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ad40669bdc53705466bd5d75568554a4:9f58326b803e228c:0:1
      X-Correlation-Id:
      - ad40669bdc53705466bd5d75568554a4
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7181'
      ratelimit-reset:
      - '1768313906'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983103
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983103,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:13Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c53ea581853df2a328e15b827bfc8f06:d6aec5133326a577:0:1
      X-Correlation-Id:
      - c53ea581853df2a328e15b827bfc8f06
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7181'
      ratelimit-reset:
      - '1768313906'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordset/TXT
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983131,\n        \"status\":
        \"running\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 63f3ad088abae628a73165209ec21675:35bb9799e53a0768:0:1
      X-Correlation-Id:
      - 63f3ad088abae628a73165209ec21675
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313898'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983131
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983131,\n        \"status\":
        \"running\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d8a6c3af9061f9b77980f139c20fdc63:b71c6e67f741b3a5:0:1
      X-Correlation-Id:
      - d8a6c3af9061f9b77980f139c20fdc63
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7181'
      ratelimit-reset:
      - '1768313908'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983131
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983131,\n        \"status\":
        \"running\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bb543d285d66513baaeba3a6cd18bc23:87513467d84c920c:0:1
      X-Correlation-Id:
      - bb543d285d66513baaeba3a6cd18bc23
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7181'
      ratelimit-reset:
      - '1768313909'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983131
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983131,\n        \"status\":
        \"running\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - effa6d04e749ac2cf90c93730b6d848a:db9f35754ef22d32:0:1
      X-Correlation-Id:
      - effa6d04e749ac2cf90c93730b6d848a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7181'
      ratelimit-reset:
      - '1768313911'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983131
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983131,\n        \"status\":
        \"running\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d92342361c06a3f3a31a1bab74879e62:1a1954f8c27776df:0:1
      X-Correlation-Id:
      - d92342361c06a3f3a31a1bab74879e62
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7181'
      ratelimit-reset:
      - '1768313912'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983131
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983131,\n        \"status\":
        \"running\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fd4dcaa891255104ed3b93bf27aac28f:14107c41ccc884f4:0:1
      X-Correlation-Id:
      - fd4dcaa891255104ed3b93bf27aac28f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7181'
      ratelimit-reset:
      - '1768313913'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983131
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983131,\n        \"status\":
        \"running\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c5e251a62a0a8355b33a3b81f3faedbd:71dfcd00c8aa56e2:0:1
      X-Correlation-Id:
      - c5e251a62a0a8355b33a3b81f3faedbd
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7181'
      ratelimit-reset:
      - '1768313915'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.deleterecordset
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 4e6f517b1faa15e2e6816a5deff6cfb5:48bc71f764fa0649:0:1
      X-Correlation-Id:
      - 4e6f517b1faa15e2e6816a5deff6cfb5
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313907'
    status:
      code: 200
      message: OK
version: 1
