interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-08T04:48:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 13,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eb342a95395e16e32d03c36f9eef3047:84005b384ce3bfc9:0:1
      X-Correlation-Id:
      - eb342a95395e16e32d03c36f9eef3047
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313838'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.createrecordset
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - ef9fecfbc7ef51f56526141e5b1f26b3:1efa7089ce9b9690:0:1
      X-Correlation-Id:
      - ef9fecfbc7ef51f56526141e5b1f26b3
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3598'
      ratelimit-reset:
      - '1768313839'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken1\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.createrecordset/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982646,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c05d79a012600a7d86b720756445d0c3:280f4a4b6f51da2b:0:1
      X-Correlation-Id:
      - c05d79a012600a7d86b720756445d0c3
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7194'
      ratelimit-reset:
      - '1768313840'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982646
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982646,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a7c1e6db19b26be230626c1923a91e28:ecaeacab9a493912:0:1
      X-Correlation-Id:
      - a7c1e6db19b26be230626c1923a91e28
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7194'
      ratelimit-reset:
      - '1768313841'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982646
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982646,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f01192f7e8ea51d99617d813a71aa297:4b12cabfe79459ed:0:1
      X-Correlation-Id:
      - f01192f7e8ea51d99617d813a71aa297
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7194'
      ratelimit-reset:
      - '1768313841'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982646
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982646,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d4d5a23012c406fa592da8312550ec4e:6682dee577f0d9cf:0:1
      X-Correlation-Id:
      - d4d5a23012c406fa592da8312550ec4e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7194'
      ratelimit-reset:
      - '1768313842'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982646
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982646,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fbf1ae3e5b636cd196e04395b50269b3:4139b828d8a47ba1:0:1
      X-Correlation-Id:
      - fbf1ae3e5b636cd196e04395b50269b3
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7194'
      ratelimit-reset:
      - '1768313843'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982646
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982646,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d2154b29352c7a4223bb490bd326bb4f:141301de4bb9dc71:0:1
      X-Correlation-Id:
      - d2154b29352c7a4223bb490bd326bb4f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7194'
      ratelimit-reset:
      - '1768313844'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982646
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982646,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c07d988af2abc7a26a3fdbd5b68f9620:0e1acf0fbc8bb89c:0:1
      X-Correlation-Id:
      - c07d988af2abc7a26a3fdbd5b68f9620
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7194'
      ratelimit-reset:
      - '1768313845'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982646
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982646,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-13T14:17:17Z\",\n        \"finished\":
        \"2026-01-13T14:17:23Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dc74f301044c09cec0683dd8d88942be:e786a07d8f6f2610:0:1
      X-Correlation-Id:
      - dc74f301044c09cec0683dd8d88942be
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7194'
      ratelimit-reset:
      - '1768313846'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.createrecordset
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"_acme-challenge.createrecordset/TXT\",\n
        \           \"name\": \"_acme-challenge.createrecordset\",\n            \"type\":
        \"TXT\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"\\\"challengetoken1\\\"\",\n
        \                   \"comment\": \"\"\n                }\n            ],\n
        \           \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - e12fe5b5e75053b1f7ed19cd45ff57ab:fe0944a1c6f22ccd:0:1
      X-Correlation-Id:
      - e12fe5b5e75053b1f7ed19cd45ff57ab
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313844'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken2\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.createrecordset/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982702,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d4944d8305daa4b7a76977dec52d31f1:c38e45762ec06dcb:0:1
      X-Correlation-Id:
      - d4944d8305daa4b7a76977dec52d31f1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7193'
      ratelimit-reset:
      - '1768313847'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982702
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982702,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:17:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cae5d6bae9c872b33fec9be1a3d0de14:72b7388348b68e32:0:1
      X-Correlation-Id:
      - cae5d6bae9c872b33fec9be1a3d0de14
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7193'
      ratelimit-reset:
      - '1768313847'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982702
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982702,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:17:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c6ad146678a493249e37b99dc45b56fc:9fe75d816d994f30:0:1
      X-Correlation-Id:
      - c6ad146678a493249e37b99dc45b56fc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7193'
      ratelimit-reset:
      - '1768313851'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101982702
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101982702,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-13T14:17:23Z\",\n        \"finished\":
        \"2026-01-13T14:17:28Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 7a7dd7801401a0cbdf015544d9aa2210:6741936581775f25:0:1
      X-Correlation-Id:
      - 7a7dd7801401a0cbdf015544d9aa2210
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7193'
      ratelimit-reset:
      - '1768313852'
    status:
      code: 200
      message: OK
version: 1
