interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-08T04:48:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 18,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 4c6c9525bef543bb221775f028689159:008aaac95038706f:0:1
      X-Correlation-Id:
      - 4c6c9525bef543bb221775f028689159
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3598'
      ratelimit-reset:
      - '1768313913'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.listrecordset
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 54a0f2658274a6a2bed261760b0b17b4:36a4958ae2de9e1d:0:1
      X-Correlation-Id:
      - 54a0f2658274a6a2bed261760b0b17b4
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3597'
      ratelimit-reset:
      - '1768313914'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken1\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.listrecordset/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983235,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 7557386b845824160690d78168504418:99c93524dd1c13d2:0:1
      X-Correlation-Id:
      - 7557386b845824160690d78168504418
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7179'
      ratelimit-reset:
      - '1768313922'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983235
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983235,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 7f759ecce763063242840d03fbbf7409:3d74db4fd4c766d7:0:1
      X-Correlation-Id:
      - 7f759ecce763063242840d03fbbf7409
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7179'
      ratelimit-reset:
      - '1768313923'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983235
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983235,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c83e7af5317982d8c4f90adf2dca5e83:af21f453b201763a:0:1
      X-Correlation-Id:
      - c83e7af5317982d8c4f90adf2dca5e83
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7179'
      ratelimit-reset:
      - '1768313924'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983235
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983235,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eb780213f4fb65458ef386467b92a884:46eeabfc50f46a99:0:1
      X-Correlation-Id:
      - eb780213f4fb65458ef386467b92a884
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7179'
      ratelimit-reset:
      - '1768313925'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.listrecordset
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"_acme-challenge.listrecordset/TXT\",\n
        \           \"name\": \"_acme-challenge.listrecordset\",\n            \"type\":
        \"TXT\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"\\\"challengetoken1\\\"\",\n
        \                   \"comment\": \"\"\n                }\n            ],\n
        \           \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 1ce5a4cd3581da1a8839b228c046fc31:36583e3c865f2790:0:1
      X-Correlation-Id:
      - 1ce5a4cd3581da1a8839b228c046fc31
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3599'
      ratelimit-reset:
      - '1768313916'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken2\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.listrecordset/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983266,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-13T14:18:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dac45e7c0011929e92555959a605a0eb:547a167e5356d056:0:1
      X-Correlation-Id:
      - dac45e7c0011929e92555959a605a0eb
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7178'
      ratelimit-reset:
      - '1768313926'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983266
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983266,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - be9d6d42e39d475925e01e583b41b2dc:10180b028c4bc2b7:0:1
      X-Correlation-Id:
      - be9d6d42e39d475925e01e583b41b2dc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7178'
      ratelimit-reset:
      - '1768313929'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983266
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983266,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ca4eafe7a9931a18c6dcd121731f4c23:d5427623e4f66acd:0:1
      X-Correlation-Id:
      - ca4eafe7a9931a18c6dcd121731f4c23
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7178'
      ratelimit-reset:
      - '1768313929'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983266
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983266,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-13T14:18:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c5efc2a3ccc95ca2d26946a7dc18fab0:86bc182ed953eea9:0:1
      X-Correlation-Id:
      - c5efc2a3ccc95ca2d26946a7dc18fab0
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7178'
      ratelimit-reset:
      - '1768313930'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/604989101983266
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 604989101983266,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-13T14:18:35Z\",\n        \"finished\":
        \"2026-01-13T14:18:39Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dfeacd535fdb367c9a750681dd2617f0:9ffa7c2320a1b1a5:0:1
      X-Correlation-Id:
      - dfeacd535fdb367c9a750681dd2617f0
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7178'
      ratelimit-reset:
      - '1768313930'
    status:
      code: 200
      message: OK
[...]
