interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.online/
  response:
    body:
      string: '{"detail":"Request was throttled. Expected available in 1 second."}'
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      Retry-After:
      - '1'
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.online/rrsets//?type=TXT&subname=orig.nameonly.test
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"created": "2025-10-13T13:16:58.235864Z", "domain": "example.online",
      "subname": "orig.nameonly.test", "name": "orig.nameonly.test.example.online.",
      "records": ["\"challengetoken\"", "\"updated\""], "ttl": 3600, "type": "TXT",
      "touched": "2025-10-14T20:05:14.902223Z"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://desec.io/api/v1/domains/example.online/rrsets/orig.nameonly.test/TXT/
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
