interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v1/domains/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '[{"created":"2025-10-13T13:14:06.564749Z","published":"2025-10-13T13:17:02.256171Z","name":"example.online","minimum_ttl":3600,"touched":"2025-10-13T13:17:02.256171Z"}]'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.online/rrsets/?type=TXT&subname=orig.testfull
  response:
    body:
      string: '[]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"records": ["\"challengetoken\""], "type": "TXT", "subname": "orig.testfull",
      "ttl": 3600}]'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://desec.io/api/v1/domains/example.online/rrsets/
  response:
    body:
      string: '{"detail":"Request was throttled. Expected available in 1 second."}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
      Retry-After:
      - '1'
    status:
      code: 429
      message: Too Many Requests
- request:
    body: '[{"records": ["\"challengetoken\""], "type": "TXT", "subname": "orig.testfull",
      "ttl": 3600}]'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://desec.io/api/v1/domains/example.online/rrsets/
  response:
    body:
      string: '[{"created":"2025-10-13T13:17:03.704275Z","domain":"example.online","subname":"orig.testfull","name":"orig.testfull.example.online.","records":["\"challengetoken\""],"ttl":3600,"type":"TXT","touched":"2025-10-13T13:17:03.718586Z"}]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.online/rrsets/?type=TXT
  response:
    body:
      string: '[{"created":"2025-10-13T13:17:03.704275Z","domain":"example.online","subname":"orig.testfull","name":"orig.testfull.example.online.","records":["\"challengetoken\""],"ttl":3600,"type":"TXT","touched":"2025-10-13T13:17:03.718586Z"},{"created":"2025-10-13T13:17:02.101148Z","domain":"example.[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.online/rrsets/?type=TXT&subname=updated.testfull
  response:
    body:
      string: '[]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"records": ["\"challengetoken\""], "type": "TXT", "subname": "updated.testfull",
      "ttl": 3600}]'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://desec.io/api/v1/domains/example.online/rrsets/
  response:
    body:
      string: '[{"created":"2025-10-13T13:17:05.546106Z","domain":"example.online","subname":"updated.testfull","name":"updated.testfull.example.online.","records":["\"challengetoken\""],"ttl":3600,"type":"TXT","touched":"2025-10-13T13:17:05.555097Z"}]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
