interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/desec.lexicon/
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/desec.lexicon/rrsets//?type=TXT&subname=_acme-challenge.createrecordset
  response:
    body:
      string: '[]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"records": ["\"challengetoken1\""], "type": "TXT", "subname": "_acme-challenge.createrecordset",
      "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://desec.io/api/v1/domains/desec.lexicon/rrsets//
  response:
    body:
      string: '{"created":"2025-10-15T23:22:18.998737Z","domain":"desec.lexicon","subname":"_acme-challenge.createrecordset","name":"_acme-challenge.createrecordset.desec.lexicon.","records":["\"challengetoken1\""],"ttl":3600,"type":"TXT","touched":"2025-10-15T23:22:19.007953Z"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"created": "2025-10-15T23:22:18.998737Z", "domain": "desec.lexicon", "subname":
      "_acme-challenge.createrecordset", "name": "_acme-challenge.createrecordset.desec.lexicon.",
      "records": ["\"challengetoken1\"", "\"challengetoken2\""], "ttl": 3600, "type":
      "TXT", "touched": "2025-10-15T23:22:19.007953Z"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://desec.io/api/v1/domains/desec.lexicon/rrsets/_acme-challenge.createrecordset/TXT/
  response:
    body:
      string: '{"created":"2025-10-15T23:22:18.998737Z","domain":"desec.lexicon","subname":"_acme-challenge.createrecordset","name":"_acme-challenge.createrecordset.desec.lexicon.","records":["\"challengetoken2\"","\"challengetoken1\""],"ttl":3600,"type":"TXT","touched":"2025-10-15T23:22:20.425216Z"}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
