interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/desec.lexicon/
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/desec.lexicon/rrsets//
  response:
    body:
      string: '[{"created":"2025-10-15T23:23:25.774392Z","domain":"desec.lexicon","subname":"random.test","name":"random.test.desec.lexicon.","records":["\"challengetoken\""],"ttl":3600,"type":"TXT","touched":"2025-10-15T23:23:25.783179Z"},{"created":"2025-10-15T23:23:25.060971Z","domain":"desec.lexicon","subname":"random.fulltest","name":"random.fulltest.desec.lexicon.","records":["\"challengetoken\""],"ttl":3600,"type":"TXT","touched":"2025-10-15T23:23:25.066131Z"},{"created":"2025-10-15T23:23:24.547921Z","domain":"desec.lexicon","subname":"random.fqdntest","name":"random.fqdntest.desec.lexicon.","records":["\"challengetoken\""],"ttl":3600,"type":"TXT","touched":"2025-10-15T23:23:24.555714Z"},{"cre[...]
