interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/desec.lexicon/
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/desec.lexicon/rrsets//?type=TXT&subname=orig.nameonly.test
  response:
    body:
      string: '[]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"records": ["\"challengetoken\""], "type": "TXT", "subname": "orig.nameonly.test",
      "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://desec.io/api/v1/domains/desec.lexicon/rrsets//
  response:
    body:
      string: '{"created":"2025-10-15T23:24:15.739773Z","domain":"desec.lexicon","subname":"orig.nameonly.test","name":"orig.nameonly.test.desec.lexicon.","records":["\"challengetoken\""],"ttl":3600,"type":"TXT","touched":"2025-10-15T23:24:15.747185Z"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"created": "2025-10-15T23:24:15.739773Z", "domain": "desec.lexicon", "subname":
      "orig.nameonly.test", "name": "orig.nameonly.test.desec.lexicon.", "records":
      ["\"updated\""], "ttl": 3600, "type": "TXT", "touched": "2025-10-15T23:24:15.747185Z"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://desec.io/api/v1/domains/desec.lexicon/rrsets/orig.nameonly.test/TXT/
  response:
    body:
      string: '{"created":"2025-10-15T23:24:15.739773Z","domain":"desec.lexicon","subname":"orig.nameonly.test","name":"orig.nameonly.test.desec.lexicon.","records":["\"updated\""],"ttl":3600,"type":"TXT","touched":"2025-10-15T23:24:17.123325Z"}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
