interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v1/domains/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '[{"created":"2025-10-13T13:14:06.564749Z","published":"2025-10-13T13:16:57.884143Z","name":"example.online","minimum_ttl":3600,"touched":"2025-10-13T13:16:57.884143Z"}]'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.online/rrsets/?type=TXT&subname=orig.nameonly.test
  response:
    body:
      string: '[]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"records": ["\"challengetoken\""], "type": "TXT", "subname": "orig.nameonly.test",
      "ttl": 3600}]'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://desec.io/api/v1/domains/example.online/rrsets/
  response:
    body:
      string: '[{"created":"2025-10-13T13:16:58.235864Z","domain":"example.online","subname":"orig.nameonly.test","name":"orig.nameonly.test.example.online.","records":["\"challengetoken\""],"ttl":3600,"type":"TXT","touched":"2025-10-13T13:16:58.244029Z"}]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"created": "2025-10-13T13:16:58.235864Z", "domain": "example.online",
      "subname": "orig.nameonly.test", "name": "orig.nameonly.test.example.online.",
      "records": ["\"updated\""], "ttl": 3600, "type": "TXT", "touched": "2025-10-13T13:16:58.244029Z"}]'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://desec.io/api/v1/domains/example.online/rrsets/
  response:
    body:
      string: '{"detail":"Request was throttled. Expected available in 1 second."}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
      Retry-After:
      - '1'
    status:
      code: 429
      message: Too Many Requests
- request:
    body: '[{"created": "2025-10-13T13:16:58.235864Z", "domain": "example.online",
      "subname": "orig.nameonly.test", "name": "orig.nameonly.test.example.online.",
      "records": ["\"updated\""], "ttl": 3600, "type": "TXT", "touched": "2025-10-13T13:16:58.244029Z"}]'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://desec.io/api/v1/domains/example.online/rrsets/
  response:
    body:
      string: '[{"created":"2025-10-13T13:16:58.235864Z","domain":"example.online","subname":"orig.nameonly.test","name":"orig.nameonly.test.example.online.","records":["\"updated\""],"ttl":3600,"type":"TXT","touched":"2025-10-13T13:16:59.739180Z"}]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
