interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.xxx/
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.xxx/rrsets//?type=CNAME&subname=docs
  response:
    body:
      string: '[]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"records": ["docs.example.com.example.xxx."], "type": "CNAME", "subname":
      "docs", "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://desec.io/api/v1/domains/example.xxx/rrsets//
  response:
    body:
      string: '{"created":"2025-10-15T15:13:44.234668Z","domain":"example.xxx","subname":"docs","name":"docs.example.xxx.","records":["docs.example.com.example.xxx."],"ttl":3600,"type":"CNAME","touched":"2025-10-15T15:13:44.242899Z"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
