interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/desec.lexicon/
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/desec.lexicon/rrsets//?type=TXT&subname=ttl.fqdn
  response:
    body:
      string: '[]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"records": ["\"ttlshouldbe3600\""], "type": "TXT", "subname": "ttl.fqdn",
      "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://desec.io/api/v1/domains/desec.lexicon/rrsets//
  response:
    body:
      string: '{"created":"2025-10-15T23:23:21.047448Z","domain":"desec.lexicon","subname":"ttl.fqdn","name":"ttl.fqdn.desec.lexicon.","records":["\"ttlshouldbe3600\""],"ttl":3600,"type":"TXT","touched":"2025-10-15T23:23:21.055394Z"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/desec.lexicon/rrsets//?type=TXT&subname=ttl.fqdn
  response:
    body:
      string: '[{"created":"2025-10-15T23:23:21.047448Z","domain":"desec.lexicon","subname":"ttl.fqdn","name":"ttl.fqdn.desec.lexicon.","records":["\"ttlshouldbe3600\""],"ttl":3600,"type":"TXT","touched":"2025-10-15T23:23:21.055394Z"}]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
