interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.xxx/
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.xxx/rrsets//?type=TXT&subname=orig.nameonly.test
  response:
    body:
      string: '[]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"records": ["\"challengetoken\""], "type": "TXT", "subname": "orig.nameonly.test",
      "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://desec.io/api/v1/domains/example.xxx/rrsets//
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"created": "2025-10-15T15:15:45.598143Z", "domain": "example.xxx", "subname":
      "orig.nameonly.test", "name": "orig.nameonly.test.example.xxx.", "records":
      ["\"updated\""], "ttl": 3600, "type": "TXT", "touched": "2025-10-15T15:15:45.608684Z"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://desec.io/api/v1/domains/example.xxx/rrsets/orig.nameonly.test/TXT/
  response:
    body:
      string: '{"created":"2025-10-15T15:15:45.598143Z","domain":"example.xxx","subname":"orig.nameonly.test","name":"orig.nameonly.test.example.xxx.","records":["\"updated\""],"ttl":3600,"type":"TXT","touched":"2025-10-15T15:15:46.986233Z"}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
