interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.online/
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.online/rrsets//?type=TXT&subname=_acme-challenge.deleterecordinset
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"created": "2025-10-13T13:15:57.962806Z", "domain": "example.online",
      "subname": "_acme-challenge.deleterecordinset", "name": "_acme-challenge.deleterecordinset.example.online.",
      "records": ["\"challengetoken2\"", "\"challengetoken1\""], "ttl": 3600, "type":
      "TXT", "touched": "2025-10-14T20:05:02.599652Z"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://desec.io/api/v1/domains/example.online/rrsets/_acme-challenge.deleterecordinset/TXT/
  response:
    body:
      string: '{"detail":"Request was throttled. Expected available in 1 second."}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      Retry-After:
      - '1'
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.online/rrsets//?type=TXT&subname=_acme-challenge.deleterecordinset
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
