interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v1/domains/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '[{"created":"2025-10-13T13:14:06.564749Z","published":"2025-10-13T13:14:07.526899Z","name":"example.online","minimum_ttl":3600,"touched":"2025-10-13T13:14:07.526899Z"}]'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
