interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.xxx/
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.xxx/rrsets//?type=TXT&subname=_acme-challenge.noop
  response:
    body:
      string: '[]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"records": ["\"challengetoken\""], "type": "TXT", "subname": "_acme-challenge.noop",
      "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://desec.io/api/v1/domains/example.xxx/rrsets//
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.xxx/rrsets//?type=TXT&subname=_acme-challenge.noop
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
