interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/desec.lexicon/
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/desec.lexicon/rrsets//?type=TXT&subname=random.test
  response:
    body:
      string: '[]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"records": ["\"challengetoken\""], "type": "TXT", "subname": "random.test",
      "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://desec.io/api/v1/domains/desec.lexicon/rrsets//
  response:
    body:
      string: '{"created":"2025-10-15T23:23:25.774392Z","domain":"desec.lexicon","subname":"random.test","name":"random.test.desec.lexicon.","records":["\"challengetoken\""],"ttl":3600,"type":"TXT","touched":"2025-10-15T23:23:25.783179Z"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/desec.lexicon/rrsets//?type=TXT&subname=random.test
  response:
    body:
      string: '[{"created":"2025-10-15T23:23:25.774392Z","domain":"desec.lexicon","subname":"random.test","name":"random.test.desec.lexicon.","records":["\"challengetoken\""],"ttl":3600,"type":"TXT","touched":"2025-10-15T23:23:25.783179Z"}]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
