interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.online/
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.online/rrsets//?type=TXT&subname=orig.testfull
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.online/rrsets//?type=TXT&subname=orig.testfull
  response:
    body:
      string: '{"detail":"Request was throttled. Expected available in 1 second."}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
      Retry-After:
      - '1'
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.online/rrsets//?type=TXT&subname=updated.testfull
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"created": "2025-10-13T13:17:05.546106Z", "domain": "example.online",
      "subname": "updated.testfull", "name": "updated.testfull.example.online.", "records":
      ["\"challengetoken\""], "ttl": 3600, "type": "TXT", "touched": "2025-10-14T20:05:18.146167Z"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://desec.io/api/v1/domains/example.online/rrsets/updated.testfull/TXT/
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
