interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.xxx/
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.xxx/rrsets//?type=TXT&subname=delete.testfilt
  response:
    body:
      string: '[]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"records": ["\"challengetoken\""], "type": "TXT", "subname": "delete.testfilt",
      "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://desec.io/api/v1/domains/example.xxx/rrsets//
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"created": "2025-10-15T15:13:50.328618Z", "domain": "example.xxx", "subname":
      "delete.testfilt", "name": "delete.testfilt.example.xxx.", "records": [], "ttl":
      3600, "type": "TXT", "touched": "2025-10-15T15:13:50.336914Z"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://desec.io/api/v1/domains/example.xxx/rrsets/delete.testfilt/TXT/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.xxx/rrsets//?type=TXT&subname=delete.testfilt
  response:
    body:
      string: '[]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
