interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.online/
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://desec.io/api/v1/domains/example.online/rrsets//?type=A&subname=localhost
  response:
    body:
      string: '[{"created":"2025-10-13T13:14:56.490642Z","domain":"example.online","subname":"localhost","name":"localhost.example.online.","records":["127.0.0.1"],"ttl":3600,"type":"A","touched":"2025-10-13T13:14:56.498496Z"}]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
